[;; 2022 versjon - nye grupper kommer!
 {:db/ident :food-group.category/animal
  :category/name {:nb "Animalske matvaregrupper"
                  :en "Animal Food Groups"}
  :category/order 0}

 {:db/ident :food-group.category/vegetarian
  :category/name {:nb "Vegetariske matvaregrupper"
                  :en "Vegetarian Food Groups"}
  :category/order 1}

 {:db/ident :food-group.category/other
  :category/name {:nb "Andre matvaregrupper"
                  :en "Other Food Groups"}
  :category/order 2}

 ;; "Melk og melkeprodukter"
 {:food-group/id "1"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/meieriprodukter/photo.jpg"
  :food-group/illustration "/images/food-groups/meieriprodukter/illustration.svg"
  :food-group/short-description {:nb "Meieriprodukter inkluderer blant annet melk, ost, rømme og yoghurt. De er en kilde til protein, kalsium, vitamin B12 og jod."
                                 :en "Dairy products include milk, cheese, sour cream, and yogurt. They are a source of protein, calcium, vitamin B12, and iodine."}}

 ;; "Egg"
 {:food-group/id "2"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/egg/photo.jpg"
  :food-group/illustration "/images/food-groups/egg/illustration.svg"
  :food-group/short-description {:nb "Denne matvaregruppen inkluderer egg og retter av egg. Egg har et høyt innhold av protein og inneholder nesten alle vitaminer og mineraler."
                                 :en "This food group includes eggs and egg-based dishes. Eggs are high in protein and contain nearly all vitamins and minerals."}}

 ;; "Fjørfe og kjøtt"
 {:food-group/id "3"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/kjott-og-fjorfe/photo.jpg"
  :food-group/illustration "/images/food-groups/kjott-og-fjorfe/illustration.svg"
  :food-group/short-description {:nb "Denne matvaregruppen består av råvarer, retter og produkter med storfe, svin, lam, fjørfe og viltkjøtt."
                                 :en "This food group consists of raw materials, dishes, and products with beef, pork, lamb, poultry, and game meat."}
  :food-group/long-description {:nb "Denne matvaregruppen består av råvarer, retter og produkter med storfe, svin, lam, fjørfe og viltkjøtt. Kjøtt og fjørfe har ofte et høyt innhold av protein, jern, vitamin B12 og andre B-vitaminer."
                                :en "This food group consists of raw materials, dishes, and products with beef, pork, lamb, poultry, and game meat. Meat and poultry often have a high content of protein, iron, vitamin B12, and other B vitamins."}}

 ;; "Fisk og skalldyr"
 {:food-group/id "4"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/fisk-og-skalldyr/photo.jpg"
  :food-group/illustration "/images/food-groups/fisk-og-skalldyr/illustration.svg"
  :food-group/short-description {:nb "Denne matvaregruppen inkluderer råvarer, retter og produkter med fisk og skalldyr."
                                 :en "This food group includes raw materials, dishes, and products with fish and shellfish."}
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer råvarer, retter og produkter med fisk og skalldyr. De fleste fiskearter har ofte et høyt innhold av protein, og kan være kilder til flerumettede fettsyrer, vitamin D eller jod."
                                :en "This food group includes raw materials, dishes, and products with fish and shellfish. Most fish species are often high in protein and can be sources of polyunsaturated fatty acids, vitamin D, or iodine."}}

 ;; "Korn- og bakevarer, frø og nøtter"
 {:food-group/id "5"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/korn-og-bakevarer/photo.jpg"
  :food-group/illustration "/images/food-groups/korn-og-bakevarer/illustration.svg"
  :food-group/short-description {:nb "Denne gruppen består hovedsakelig av karbohydratrike matvarer."
                                 :en "This group mainly consists of carbohydrate-rich foods."}}

 ;; "Poteter, grønnsaker, frukt og bær"
 {:food-group/id "6"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/gronnsaker/photo.jpg"
  :food-group/illustration "/images/food-groups/gronnsaker/illustration.svg"
  :food-group/short-description {:nb "Grønnsaker har ofte et lavt energiinnhold med mye vitaminer og mineraler."
                                 :en "Vegetables often have low energy content with many vitamins and minerals."}}

 ;; "Sukker og søte produkter"
 {:food-group/id "7"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/sukker-og-sote-produkter/photo.jpg"
  :food-group/illustration "/images/food-groups/sukker-og-sote-produkter/illustration.svg"
  :food-group/short-description {:nb "Sukker inneholder mye karbohydrater og har viktige funksjoner i matlagingen."
                                 :en "Sugar contains a lot of carbohydrates and plays important roles in cooking."}}

 ;; "Margarin, smør, matolje o.l."
 {:food-group/id "8"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/matfett/photo.jpg"
  :food-group/illustration "/images/food-groups/matfett/illustration.svg"
  :food-group/short-description {:nb "Matvarene i denne gruppen har typisk energitett og består av f.eks. smør og margarin."
                                 :en "The foods in this group are typically energy-dense and consist of, for example, butter and margarine."}}

 ;; "Drikke"
 {:food-group/id "9"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/drikke/photo.jpg"
  :food-group/illustration "/images/food-groups/drikke/illustration.svg"
  :food-group/short-description {:nb "Drikke er en flytende væske produsert for å inntas gjennom munnen. Gruppen består bl.a. av matvarer uten og med alkohol."
                                 :en "Beverage is a liquid produced for consumption through the mouth. The group includes food items with and without alcohol."}}

 ;; "Diverse retter, produkter og ingredienser"
 {:food-group/id "10"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/diverse-matvarer-og-retter/photo.jpg"
  :food-group/illustration "/images/food-groups/diverse-matvarer-og-retter/illustration.svg"
  :food-group/short-description {:nb "Denne kategorien inneholder ulike typer retter, produkter og ingredienser."
                                 :en "This category contains various types of dishes, products, and ingredients."}}

 ;; "Spedbarnsmat"
 {:food-group/id "11"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/spedbarnsmat/photo.jpg"
  :food-group/illustration "/images/food-groups/spedbarnsmat/illustration.svg"
  :food-group/short-description {:nb "Spedbarnsmat defineres som regel som mat man gir barn som er fra 4-6 mnd frem til de er 1-1/2 år."
                                 :en "Infant food is typically defined as food given to children from 4-6 months until they are 1-1/2 years old."}}

 ]
