[;; 2022 versjon - nye grupper kommer!
 {:db/ident :food-group.category/animal
  :category/name {:nb "Animalske matvaregrupper"
                  :en "Animal Food Groups"}
  :category/order 0}

 {:db/ident :food-group.category/vegetarian
  :category/name {:nb "Vegetariske matvaregrupper"
                  :en "Vegetarian Food Groups"}
  :category/order 1}

 {:db/ident :food-group.category/other
  :category/name {:nb "Andre matvaregrupper"
                  :en "Other Food Groups"}
  :category/order 2}

 ;; "Meieriprodukter"
 {:food-group/id "1"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/meieriprodukter/photo.jpg"
  :food-group/illustration "/images/food-groups/meieriprodukter/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer melk, ost, fløte, rømme og yoghurt. De er en kilde til [protein], [kalsium|Ca], [vitamin B12|Vit B12] og [jod|I]."
                                :en "This food group includes milk, cheese, cream, sour cream, and yogurt. They are a source of [protein], [calcium|Ca], [vitamin B12|Vit B12], and [iodine|I]."}
  :food-group/short-description {:nb "Melk, ost, fløte, rømme og yoghurt."
                                 :en "Milk, cheese, cream, sour cream, and yogurt."}}

 ;; "Egg"
 {:food-group/id "2"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/egg/photo.jpg"
  :food-group/illustration "/images/food-groups/egg/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer egg og retter av egg. Egg har et høyt innhold av [protein] og inneholder nesten alle vitaminer og mineraler."
                                :en "This food group includes eggs and egg-based dishes. Eggs are high in [protein] and contain nearly all vitamins and minerals."}
  :food-group/short-description {:nb "Egg og retter av egg."
                                 :en "Eggs and egg-based dishes."}}

 ;; "Kjøtt og fjørfe"
 {:food-group/id "3"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/kjott-og-fjorfe/photo.jpg"
  :food-group/illustration "/images/food-groups/kjott-og-fjorfe/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen består av råvarer, retter og produkter med storfe, svin, lam, fjørfe og viltkjøtt. Kjøtt og fjørfe har ofte et høyt innhold av [protein], [jern|Fe], [vitamin B12|Vit B12] og andre B-vitaminer."
                                :en "This food group consists of raw materials, dishes, and products with beef, pork, lamb, poultry, and game meat. Meat and poultry often have a high content of [protein], [iron|Fe], [vitamin B12|Vit B12], and other B vitamins."}
  :food-group/short-description {:nb "Råvarer, retter og produkter med storfe, svin, lam, fjørfe og viltkjøtt."
                                 :en "Raw materials, dishes, and products with beef, pork, lamb, poultry, and game meat."}}

 ;; "Fisk og skalldyr"
 {:food-group/id "4"
  :food-group/category {:db/ident :food-group.category/animal}
  :food-group/photo "/images/food-groups/fisk-og-skalldyr/photo.jpg"
  :food-group/illustration "/images/food-groups/fisk-og-skalldyr/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer råvarer, retter og produkter med fisk og skalldyr. De fleste fiskearter har ofte et høyt innhold av [protein], og kan være kilder til [flerumettede fettsyrer|Flerum], [vitamin D|Vit D] eller [jod|I]."
                                :en "This food group includes raw materials, dishes, and products with fish and shellfish. Most fish species are often high in [protein] and can be sources of [polyunsaturated fatty acids|Flerum], [vitamin D|Vit D], or [iodine|I]."}
  :food-group/short-description {:nb "Råvarer, retter og produkter med fisk og skalldyr."
                                 :en "Raw materials, dishes, and products with fish and shellfish."}}

 ;; "Korn- og bakevarer"
 {:food-group/id "5"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/korn-og-bakevarer/photo.jpg"
  :food-group/illustration "/images/food-groups/korn-og-bakevarer/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer kornvarer, brød, bakverk og kornbaserte retter. Matvarene i denne gruppen har ofte et høyt innhold av [karbohydrater|Karbo]. De grove produktene inneholder ofte mye [kostfiber|Fiber] og mineraler."
                                :en "This food group includes cereals, bread, pastries, and grain-based dishes. Foods in this group often have a high content of [carbohydrates|Karbo]. The whole grain products frequently contain a lot of [dietary fiber|Fiber] and minerals."}
  :food-group/short-description {:nb "Kornvarer, brød, bakverk og kornbaserte retter."
                                 :en "Cereals, bread, pastries, and grain-based dishes."}}

 ;; "Grønnsaker"
 {:food-group/id "6"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/gronnsaker/photo.jpg"
  :food-group/illustration "/images/food-groups/gronnsaker/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer grønnsaker og grønnsaksprodukter. Grønnsaker inneholder lite energi, men er rike på vitaminer og mineraler. "
                                :en "This food group includes vegetables and vegetable products. Vegetables contain little energy but are rich in vitamins and minerals."}
  :food-group/short-description {:nb "Grønnsaker og grønnsaksprodukter."
                                 :en "Vegetables and vegetable products."}}

 ;; "Sukker og søte produkter"
 {:food-group/id "7"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/sukker-og-sote-produkter/photo.jpg"
  :food-group/illustration "/images/food-groups/sukker-og-sote-produkter/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer sukker, honning, desserter, sjokolade og godteri. Matvarene har ofte et høyt innhold av [karbohydrater|Karbo]."
                                :en "This food group includes sugar, honey, desserts, chocolate, and candy. These foods often have a high content of [carbohydrates|Karbo]."}
  :food-group/short-description {:nb "Sukker, honning, desserter, sjokolade og godteri."
                                 :en "Sugar, honey, desserts, chocolate, and candy."}}

 ;; "Matfett"
 {:food-group/id "8"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/matfett/photo.jpg"
  :food-group/illustration "/images/food-groups/matfett/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer smør, margarin, matoljer, og andre fettholdige produkter. Fett kan være enten av animalsk eller vegetabilsk opprinnelse, noe som vil gi ulik sammensetning av mettede og umettede fettsyrer."
                                :en "This food group includes butter, margarine, cooking oils, and other fatty products. Fats can be either of animal or vegetable origin, which results in different compositions of saturated and unsaturated fatty acids."}
  :food-group/short-description {:nb "Smør, margarin, matoljer, og andre fettholdige produkter."
                                 :en "Butter, margarine, cooking oils, and other fatty products."}}

 ;; "Drikke"
 {:food-group/id "9"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/drikke/photo.jpg"
  :food-group/illustration "/images/food-groups/drikke/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer blant annet kaffe, brus, plantebasert og alkoholholdig drikke."
                                :en "This food group includes coffee, tea, smoothies, juice, water, soda, plant-based drinks, and alcoholic beverages."}
  :food-group/short-description {:nb "Blant annet kaffe, brus, plantebasert og alkoholholdig drikke."
                                 :en "Coffee, tea, smoothies, juice, water, soda, plant-based drinks, and alcoholic beverages."}}

 ;; "Diverse matvarer og retter"
 {:food-group/id "10"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/diverse-matvarer-og-retter/photo.jpg"
  :food-group/illustration "/images/food-groups/diverse-matvarer-og-retter/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer ulike typer retter, produkter og ingredienser - slikt som pizza, snacks, middagstilbehør og vegetarprodukter."
                                :en "This food group includes various types of dishes, products, and ingredients - such as pizza, snacks, dinner accompaniments, and vegetarian products."}
  :food-group/short-description {:nb "Pizza, snacks, middagstilbehør og vegetarprodukter med mer."
                                 :en "Pizza, snacks, dinner accompaniments, and vegetarian products and more."}}

 ;; "Spedbarnsmat"
 {:food-group/id "11"
  :food-group/category {:db/ident :food-group.category/other}
  :food-group/photo "/images/food-groups/spedbarnsmat/photo.jpg"
  :food-group/illustration "/images/food-groups/spedbarnsmat/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer barnegrøt, barnemat, morsmelkerstatninger og tilskuddsblandinger."
                                :en "This food group includes baby porridge, baby food, infant formula, and supplement mixes."}
  :food-group/short-description {:nb "Barnegrøt, barnemat, morsmelkerstatninger og tilskuddsblandinger."
                                 :en "Baby porridge, baby food, infant formula, and supplement mixes."}}

 ;; "Belgvekster"
 {:food-group/id "12"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/belgvekster/photo.jpg"
  :food-group/illustration "/images/food-groups/belgvekster/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer erter, bønner og linser. Matvaregruppen inneholder lite [fett] og er i tillegg en god kilde til [protein] og [kostfiber|Fiber]."
                                :en "This food group includes peas, beans, and lentils. This food group contains little [fat|Fett] and is also a good source of [protein] and [dietary fiber|Fiber]."}
  :food-group/short-description {:nb "Erter, bønner og linser."
                                 :en "Peas, beans, and lentils."}}

 ;; "Frukt og bær"
 {:food-group/id "13"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/frukt-og-bar/photo.jpg"
  :food-group/illustration "/images/food-groups/frukt-og-bar/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer frukt og bær. De har ofte et lavt fettinnhold og er en god kilde til flere vitaminer og mineraler."
                                :en "This food group includes fruits and berries. They often have a low fat content and are a good source of various vitamins and minerals."}
  :food-group/short-description {:nb "Frukt, bær, og produkter av frukt og bær."
                                 :en "Fruits, berries, and products made with fruits and berries."}}

 ;; "Nøtter og frø"
 {:food-group/id "14"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/notter-og-fro/photo.jpg"
  :food-group/illustration "/images/food-groups/notter-og-fro/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer nøtter og frø. Nøtter og frø er en kilde til [umettet fett|Fett] og [kostfiber|Fiber]. De er også rike på vitaminer og mineraler. "
                                :en "This food group includes nuts and seeds. Nuts and seeds are a source of [unsaturated fats|Fett] and [dietary fiber|Fiber]. They are also rich in vitamins and minerals."}
  :food-group/short-description {:nb "Nøtter, frø, og produkter av nøtter og frø."
                                 :en "Nuts, seeds, and products made with nuts and seeds."}}

 ;; "Poteter"
 {:food-group/id "15"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/poteter/photo.jpg"
  :food-group/illustration "/images/food-groups/poteter/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer produkter og retter med poteter. Poteter har lavt fettinnhold og er en kilde til [vitamin C|Vit C], [kalium|K] og [kostfiber|Fiber]."
                                :en "This food group includes products and dishes made with potatoes. Potatoes have a low fat content and are a source of [vitamin C|Vit C], [potassium|K], and [dietary fiber|Fiber]."}
  :food-group/short-description {:nb "Produkter og retter med poteter."
                                 :en "Products and dishes made with potatoes."}}

 ;; "Urter og krydder"
 {:food-group/id "16"
  :food-group/category {:db/ident :food-group.category/vegetarian}
  :food-group/photo "/images/food-groups/urter-og-krydder/photo.jpg"
  :food-group/illustration "/images/food-groups/urter-og-krydder/illustration.svg"
  :food-group/long-description {:nb "Denne matvaregruppen inkluderer urter og krydder, som enten er rå eller tørket. Matvarene i denne gruppen brukes ofte som smakstilsetninger."
                                :en "This food group includes herbs and spices, either raw or dried. The foods in this group are often used as flavor enhancers."}
  :food-group/short-description {:nb "Urter og krydder, enten er rå eller tørket."
                                 :en "Herbs and spices, either raw or dried."}}]
