[{:db/ident :nutrient.category/macro
  :category/name {:nb "Energigivende næringsstoffer"
                  :en "Macro nutrients"}
  :category/order 0}

 {:db/ident :nutrient.category/vitamins
  :category/name {:nb "Vitaminer"
                  :en "Vitamins"}
  :category/order 1}

 {:db/ident :nutrient.category/minerals
  :category/name {:nb "Mineraler"
                  :en "Minerals"}
  :category/order 2}

 {:nutrient/id "Protein"
  :nutrient/category {:db/ident :nutrient.category/macro}
  :nutrient/photo "/images/nutrients/proteiner/photo.jpg"
  :nutrient/illustration "/images/nutrients/proteiner/illustration.svg"
  :nutrient/short-description {:nb "Proteiner er bygget opp av aminosyrer og finnes typisk i kjøtt, meieriprodukter og belgvekster."
                               :en "Proteins are composed of amino acids and are typically found in meat, dairy products, and legumes."}
  :nutrient/long-description {:nb (list "Proteiner er en av de tre hovedtypene næringsstoffer, sammen med " [:a {:href "/karbohydrat/"} "karbohydrater"] " og " [:a {:href "/fett/"} "fett"] "."
                                        " Proteiner er essensielle næringsstoffer som er viktige for oppbyggingen og reparasjonen av kroppens vev, inkludert muskler, hud og organer. De består av aminosyrer og er avgjørende for kroppens funksjoner. Kilder til proteiner inkluderer kjøtt, fisk, egg, meieriprodukter, nøtter og belgfrukter.")
                              :en (list "Proteins are one of the three main types of nutrients, along with " [:a {:href "/en/carbohydrate-glycemic/"} "carbohydrates"] " and " [:a {:href "/en/fat/"} "fats"] "."
                                        " Proteins are essential nutrients crucial for building and repairing the body's tissues, including muscles, skin, and organs. They are composed of amino acids and are vital for the body's functions. Sources of proteins include meat, fish, eggs, dairy products, nuts, and legumes.")}}

 {:nutrient/id "Fett"
  :nutrient/category {:db/ident :nutrient.category/macro}
  :nutrient/photo "/images/nutrients/fett/photo.jpg"
  :nutrient/illustration "/images/nutrients/fett/illustration.svg"
  :nutrient/short-description {:nb "Fett er et energitett næringsstoff som det typisk finnes mye av i f.eks. smør og olje. Det eksisterer flere ulike varianter av fett."
                               :en "Fat is an energy-dense nutrient commonly found in items like butter and oil. There are several different types of fat."}
  :nutrient/long-description {:nb (list "Fett er en av de tre hovedtypene næringsstoffer, sammen med " [:a {:href "/protein/"} "proteiner"] " og " [:a {:href "/karbohydrat/"} "karbohydrater"] "."
                                        " Fett er en viktig energikilde og hjelper kroppen med å absorbere visse vitaminer. Det finnes to hovedtyper fett: mettet fett (eksempelvis fra animalske produkter og noen planteoljer) og umettet fett (eksempelvis fra fisk, nøtter, avokado og olivenolje).")
                              :en (list "Fats are one of the three main types of nutrients, along with " [:a {:href "/en/carbohydrate-glycemic/"} "carbohydrates"] " and " [:a {:href "/en/protein/"} "proteins"] "."
                                        " Fat is a significant source of energy and aids the body in absorbing certain vitamins. There are two main types of fat: saturated fat (found in animal products and some plant oils) and unsaturated fat (found in fish, nuts, avocado, and olive oil).")}}

 {:nutrient/id "Alko"
  :nutrient/category {:db/ident :nutrient.category/macro}
  :nutrient/photo "/images/nutrients/alkohol/photo.jpg"
  :nutrient/illustration "/images/nutrients/alkohol/illustration.svg"
  :nutrient/short-description {:nb "Dette energigivende næringsstoffet eksisterer det mest av i alkoholholdige drikkevarer som brennevin og likør."
                               :en "This nutrient is most prevalent in alcoholic beverages such as spirits and liqueurs."}}

 {:nutrient/id "Karbo"
  :nutrient/category {:db/ident :nutrient.category/macro}
  :nutrient/photo "/images/nutrients/karbohydrater/photo.jpg"
  :nutrient/illustration "/images/nutrients/karbohydrater/illustration.svg"
  :nutrient/short-description {:nb "Dette næringsstoffet finnes typisk i matvarer med høyt sukkerinnhold, enten tilsatt eller naturlig. Et eksempel er sjokoladekake."
                               :en "This nutrient is typically found in foods with high sugar content, whether added or natural. An example is chocolate cake."}
  :nutrient/long-description {:nb (list "Karbohydrater er en av de tre hovedtypene næringsstoffer, sammen med " [:a {:href "/protein/"} "proteiner"] " og " [:a {:href "/fett/"} "fett"] "."
                                        " De er kroppens viktigste energikilde. Karbohydrater finnes i matvarer som brød, pasta, ris, frukt, grønnsaker og sukker. Når du spiser karbohydrater, brytes de ned til glukose (sukker) i kroppen, som gir energi til cellene og hjernen.")
                              :en (list "Carbohydrates are one of the three main types of nutrients, along with " [:a {:href "/en/protein/"} "proteins"] " and " [:a {:href "/en/fat/"} "fats"] "."
                                        " They are the body's primary source of energy. Carbohydrates are found in foods like bread, pasta, rice, fruits, vegetables, and sugar. When you consume carbohydrates, they are broken down into glucose (sugar) in the body, providing energy to the cells and the brain.")}}

 {:nutrient/id "Fiber"
  :nutrient/category {:db/ident :nutrient.category/macro}
  :nutrient/photo "/images/nutrients/kostfiber/photo.jpg"
  :nutrient/illustration "/images/nutrients/kostfiber/illustration.svg"
  :nutrient/short-description {:nb "Matvarer med mye kostfiber er typisk grovt brød og grønnsaker."
                               :en "Foods rich in dietary fiber typically include whole grain bread and vegetables."}}

 {:nutrient/id "WaterSolubleVitamins"
  :nutrient/category {:db/ident :nutrient.category/vitamins}
  :nutrient/photo "/images/nutrients/vannloselige-vitaminer/photo.jpg"
  :nutrient/illustration "/images/nutrients/vannloselige-vitaminer/illustration.svg"
  :nutrient/short-description {:nb "Denne kategorien inneholder vitamin C og B. Vitaminene foreligger typisk i frukt og grønnsaker."
                               :en "This category includes vitamins C and B, which are typically found in fruits and vegetables."}}

 {:nutrient/id "FatSolubleVitamins"
  :nutrient/category {:db/ident :nutrient.category/vitamins}
  :nutrient/photo "/images/nutrients/fettloselige-vitaminer/photo.jpg"
  :nutrient/illustration "/images/nutrients/fettloselige-vitaminer/illustration.svg"
  :nutrient/short-description {:nb "Denne kategorien inneholder vitamin A, D og E. Vitaminene finnes typisk i fettholdig mat, både animalsk og vegetarisk."
                               :en "This category includes vitamins A, D, and E, which are typically found in fatty foods, both animal-based and vegetarian."}}

 {:nutrient/id "Minerals"
  :nutrient/category {:db/ident :nutrient.category/minerals}
  :nutrient/photo "/images/nutrients/mineraler/photo.jpg"
  :nutrient/illustration "/images/nutrients/mineraler/illustration.svg"
  :nutrient/short-description {:nb "Mineraler er viktige næringsstoffer som inkluderer kalsium, kalium, natrium, salt, fosfor og magnesium, og er nødvendige for mange kroppslige funksjoner."
                               :en "Minerals are vital nutrients that include calcium, potassium, sodium, salt, phosphorus, and magnesium, and are essential for many bodily functions."}}

 {:nutrient/id "TraceElements"
  :nutrient/category {:db/ident :nutrient.category/minerals}
  :nutrient/photo "/images/nutrients/sporstoffer/photo.jpg"
  :nutrient/illustration "/images/nutrients/sporstoffer/illustration.svg"
  :nutrient/short-description {:nb "Sporstoffer er essensielle næringsstoffer som kroppen trenger i små mengder, inkludert jern, kopper, sink, selen og jod."
                               :en "Trace elements are essential nutrients needed by the body in small amounts, including iron, copper, zinc, selenium, and iodine."}}

 ;;;; Næringsstoffer lenger ned i hierarkiet
 ;;
 ;; Disse har veldig godt av en lang beskrivelse til sin egen side, men trenger
 ;; ikke alt mulig annet, da de ikke er å finne på "Alle næringsstoffer"-siden,
 ;; ehe.

 {:nutrient/id "Stivel"
  :nutrient/long-description

  {:nb (list "Stivelse er et komplekst " [:a {:href "/karbohydrat/"} "karbohydrat"]
             " som finnes i matvarer som brød, ris, pasta og poteter. Denne typen karbohydrat gir langvarig energi til kroppen, da den brytes ned til glukose over tid.")
   :en (list "Starch is a complex " [:a {:href "/en/carbohydrate-glycemic/"} "carbohydrate"]
             " found in foods like bread, rice, pasta, and potatoes. This type of carbohydrate provides sustained energy to the body as it is broken down into glucose over time.")}}

 {:nutrient/id "Sukker"
  :nutrient/long-description

  {:nb (list "Tilsatt sukker er sukker som tilføres mat- og drikkevarer under produksjon eller tilberedning. Dette sukkeret kommer i tillegg til det som finnes naturlig i matvaren, og tilføres for å endre på smak og holdbarhet.")
   :en (list "Added sugar is " [:a {:href "/en/sugar/"} "sugar"]
             " that is added to food and beverages during production or preparation. This sugar is in addition to what is naturally present in the food and is added to alter taste and shelf life.")}}

 ]
