[{:trivia/food-id "06.525"
  :trivia/definite {:nb "bananen" :en "the banana"}
  :trivia/photo "/images/trivia/banan.jpg"
  :trivia/prose {:nb "at banan er den frukten med høyest innhold av karbohydrater blant fruktene i Matvaretabellen? Den har også et høyt innhold av magnesium."
                 :en "that the banana is the fruit with the highest carbohydrate content among the fruits in the Food Composition Table? It also has a high content of magnesium."}}

 {:trivia/food-id "06.048"
  :trivia/definite {:nb "paprikaen" :en "the sweet pepper"}
  :trivia/photo "/images/trivia/paprika.jpg"
  :trivia/prose {:nb "at en halv paprika dekker dagsbehovet for vitamin C? Paprika, uansett farge, er den grønnsaken som har høyest innhold av vitamin C i Matvaretabellen."
                 :en "that half a sweet pepper covers the daily requirement for vitamin C? Sweet pepper, regardless of color, is the vegetable with the highest content of vitamin C in the Food Composition Table."}}

 {:trivia/food-id "05.003"
  :trivia/definite {:nb "havregryn" :en "rolled oats"}
  :trivia/photo "/images/trivia/havregryn.jpg"
  :trivia/prose {:nb "at havregryn har like mye jern som tilberedt elgkjøtt? Havregryn er en god kilde til kostfiber, og har et høyere innhold av vitamin B1, jern, magnesium og sink sammenlignet med flere andre kornarter."
                 :en "that rolled oats have as much iron as cooked moose meat? Rolled oats are a good source of dietary fiber, and have a higher content of vitamin B1, iron, magnesium, and zinc compared to several other grains."}}

 {:trivia/food-id "02.001"
  :trivia/definite {:nb "egget" :en "the egg"}
  :trivia/photo "/images/trivia/egg.jpg"
  :trivia/prose {:nb "at egg inneholder alle vitaminer og mineraler, utenom vitamin C? Egg er også en god kilde til protein."
                 :en "that eggs contain all vitamins and minerals, except for vitamin C? Eggs are also a good source of protein."}}

 {:trivia/food-id "06.504"
  :trivia/definite {:nb "jordbæret" :en "the strawberry"}
  :trivia/photo "/images/trivia/jordbaer.jpg"
  :trivia/prose {:nb "jordbær har et høyere innhold av vitamin C enn appelsin? Jordbæret er også rikt på folat."
                 :en "that strawberries have a higher content of vitamin C than oranges? Strawberries are also rich in folate."}}

 {:trivia/food-id "04.055"
  :trivia/definite {:nb "krabben" :en "the crab"}
  :trivia/photo "/images/trivia/krabbe.jpg"
  :trivia/prose {:nb "at kokt krabbe inneholder omtrent fire ganger mer kalsium enn lettmelk? Matvaren har også det høyeste innholdet av kalsium blant fisk og skalldyr, og har et høyt innhold av flere ulike vitaminer og mineraler."
                 :en "that cooked crab contains about four times more calcium than skimmed milk? This food also has the highest content of calcium among fish and shellfish, and is high in several different vitamins and minerals."}}

 {:trivia/food-id "04.220"
  :trivia/definite {:nb "laksen" :en "salmon"}
  :trivia/photo "/images/trivia/laks.jpg"
  :trivia/prose {:nb "at en porsjon ovnsstekt laks dekker halvparten av dagsbehovet for vitamin D? Laks er også en god kilde til omega-3 fettsyrer."
                 :en "that a serving of oven-baked salmon covers half of the daily requirement for vitamin D? Salmon is also a good source of omega-3 fatty acids."}}

 {:trivia/food-id "06.003"
  :trivia/definite {:nb "poteten" :en "the potato"}
  :trivia/photo "/images/trivia/potet.jpg"
  :trivia/prose {:nb "at poteten har det laveste innholdet av stivelse og det høyeste innholdet av kalium og vitamin C sammenlignet med andre stivelsesrike matvarer?"
                 :en "that the potato has the lowest content of starch and the highest content of potassium and vitamin C compared to other starchy foods?"}}

 {:trivia/food-id "06.064"
  :trivia/definite {:nb "spinaten" :en "spinach"}
  :trivia/photo "/images/trivia/spinat.jpg"
  :trivia/prose {:nb "at spinat har det høyeste innholdet av folat blant grønnsaker? Det er også en av grønnsakene som har høyest innhold av jern, kalsium, magnesium, sink og kalium."
                 :en "that spinach has the highest content of folate among vegetables? It is also one of the vegetables with the highest content of iron, calcium, magnesium, zinc, and potassium."}}

 {:trivia/food-id "06.560"
  :trivia/definite {:nb "valnøtten" :en "the walnut"}
  :trivia/photo "/images/trivia/valnott.jpg"
  :trivia/prose {:nb "at valnøtter inneholder mer omega-3 fettsyrer enn laks og makrell i tomat? Matvaren har også den høyeste andelen av flerumettede omega-3 fettsyrer blant nøtter."
                 :en "that walnuts contain more omega-3 fatty acids than salmon and mackerel in tomato? This food also has the highest proportion of polyunsaturated omega-3 fatty acids among nuts."}}

 {:trivia/food-id "01.186"
  :trivia/definite {:nb "brunosten" :en "whey cheese"}
  :trivia/photo "/images/trivia/brunost.jpg"
  :trivia/prose {:nb "at brunost er et av de meieriproduktene som har høyest innhold av kalium, magnesium og jod? Den er også en av matvarene i Matvaretabellen som har høyest innhold av kalsium."
                 :en "that whey cheese is one of the dairy products with the highest content of potassium, magnesium, and iodine? It is also one of the foods in the Norwegian Food Composition Table that has the highest content of calcium."}}

 {:trivia/food-id "06.035"
  :trivia/definite {:nb "grønnkålen" :en "kale"}
  :trivia/photo "/images/trivia/gronnkaal.jpg"
  :trivia/prose {:nb "at grønnkål er en nesten like god kilde til betakaroten som gulrot? Den inneholder også flere B-vitaminer, og dobbelt så mye vitamin C som appelsin."
                 :en "that kale is almost as good a source of beta-carotene as carrots? It also contains several B vitamins and twice as much vitamin C as an orange."}}

 {:trivia/food-id "06.546"
  :trivia/definite {:nb "pæren" :en "the pear"}
  :trivia/photo "/images/trivia/paere.jpg"
  :trivia/prose {:nb "at pære inneholder like mye fiber som grovt brød? Det er også den frukten med høyest innhold av fiber i Matvaretabellen."
                 :en "that pears contain as much fiber as whole grain bread? They are also the fruit with the highest fiber content in the Norwegian Food Composition Table."}}

 {:trivia/food-id "04.039"
  :trivia/definite {:nb "torsken" :en "cod"}
  :trivia/photo "/images/trivia/torsk.jpg"
  :trivia/prose {:nb "at torsk er en av matvarene med høyest innhold av jod i Matvaretabellen? Det er en mager fisk med et høyt innhold av protein."
                 :en "that cod is one of the foods with the highest iodine content in the Food Composition Table? It is a lean fish with a high protein content."}}
 ]
