/ui/.cpcache/
/ui/.nrepl-port
/ui/resources/public/js/compiled/
/.cpcache/
/.nrepl-port
/config/local-config.edn
/.clj-kondo/.cache
/.lsp
/datomic-transactor
/datomic-pro-*.zip
/datomic-data/
/target/
/dev-resources/dev-assets/js/compiled