/ui/.cpcache/
/ui/.nrepl-port
/ui/resources/public/js/compiled/
/.cpcache/
/.nrepl-port
/config/local-config.edn
/.clj-kondo/.cache
/.lsp
/datomic-transactor
/datomic-pro-*.zip
/datomic-data/
/target/
/dev-resources/public/js/compiled
/.clj-kondo/http-kit/
/docker/build
*.terraform*
/.clj-kondo/.lock
/.clj-kondo/inline-configs/
/.clj-kondo/magnars.com/
/.clj-kondo/no.cjohansen/
/ui/resources/public/js/compiled
/tracer/.cpcache/
/tracer/target/
/docker/tracer.jar
/dev-resources/dev-assets/
