{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.datomic/peer {:mvn/version "1.0.6726"}
        datomic-type-extensions/datomic-type-extensions {:mvn/version "2023.09.26"}
        no.anteo/broch {:mvn/version "0.1.83"}}}
