{:paths ["src" "resources" "ui/src" "ui/resources" "tracer/src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/clojurescript {:mvn/version "1.12.116"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        babashka/fs {:mvn/version "0.5.30"}
        cjohansen/courier {:mvn/version "2024.03.15"}
        cjohansen/dumdom {:mvn/version "2023.11.06"}
        com.datomic/peer {:mvn/version "1.0.7469"}
        com.magnars/confair {:mvn/version "2025.11.12"}
        datomic-type-extensions/datomic-type-extensions {:mvn/version "2025.01.24"}
        datoms-differ/datoms-differ {:mvn/version "2025-11-14"}
        io.mattilsynet/design {:mvn/version "2.3.4.40"}
        lambdaisland/uri {:mvn/version "1.19.155"}
        no.anteo/broch {:mvn/version "2025.10.27"}
        no.cjohansen/phosphor-clj {:mvn/version "2025.04.16"}
        no.cjohansen/powerpack {:mvn/version "2025.10.22"}
        org.apache.logging.log4j/log4j-core  {:mvn/version "2.25.2"} ;; kjeften på rei, du maser jo som et lokomotiv
        org.apache.poi/poi {:mvn/version "5.5.0"}
        org.apache.poi/poi-ooxml {:mvn/version "5.4.0"}
        superstring/superstring {:mvn/version "3.2.1"}}
 :aliases
 {:dev {:extra-paths ["dev" "dev-resources" "test" "ui/test"]
        :extra-deps {babashka/process {:mvn/version "0.6.23"}
                     cider/cider-nrepl {:mvn/version "0.58.0"}
                     cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:git/url "https://github.com/cjohansen/figwheel-main"
                                                :sha "df756e460f4370e5351872cd50e73b7817b6cd2c"
                                                :exclusions [org.clojure/clojurescript]}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     org.clojars.abhinav/snitch {:mvn/version "0.1.16"}}}
  :build {:extra-paths ["target"]
          :extra-deps {com.bhauman/figwheel-main {:git/url "https://github.com/cjohansen/figwheel-main"
                                                  :sha "df756e460f4370e5351872cd50e73b7817b6cd2c"
                                                  :exclusions [org.clojure/clojurescript]}}
          :exec-fn matvaretabellen.export/export}}}
