^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]}
{:main matvaretabellen.ui.main
 :optimizations :none
 :pretty-print true
 :source-map true
 :asset-path "/js/compiled/dev"
 :output-to "dev-resources/public/js/compiled/app.js"
 :output-dir "dev-resources/public/js/compiled/dev"}
