[
 ;; pages
 {:db/ident :page/food-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/food-group-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/nutrient-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/rda-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/details
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/i18n-uris
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/format
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/redirect-uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :page/sort-order
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 ;; Sesongvarer
 {:db/ident :season/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :season/from-md
  :dte/valueType :java.time/month-day
  :db/cardinality :db.cardinality/one}

 {:db/ident :season/to-md
  :dte/valueType :java.time/month-day
  :db/cardinality :db.cardinality/one}

 {:db/ident :season/food-ids
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 ;; Supplementær info om matvaregrupper

 {:db/ident :food-group/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/photo
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/short-description
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/long-description
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/category
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Supplementær info om næringsstoffer

 {:db/ident :nutrient/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/photo
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/illustration
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/short-description
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/long-description
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/category
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Kategorier (brukt av både food-groups og nutrients)

 {:db/ident :category/name
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :category/order
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ;; Trivia

 {:db/ident :trivia/food-id
  :db/unique :db.unique/identity
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :trivia/photo
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :trivia/prose
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :trivia/definite
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 ;; Anbefalt Daglig Inntak (ADI) / Recommended Daily Allowance (RDA)

 {:db/ident :rda/id
  :db/unique :db.unique/identity
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/order
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/demographic
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/work-activity-level
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/leisure-activity-level
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/energy-recommendation
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/kcal-recommendation
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda/recommendations
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}

 {:db/ident :rda.recommendation/nutrient-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/average-amount
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/min-amount
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/max-amount
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/average-energy-pct
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/min-energy-pct
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :rda.recommendation/max-energy-pct
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ]
