[
 ;; Food
 ;;
 ;; Representerer én matvare i tabellen.

 {:db/ident :food/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :food/name
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/slug
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/food-group
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/search-keywords
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/latin-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/langual-codes
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :food/edible-part
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/energy
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/calories
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one}

 {:db/ident :food/constituents
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 {:db/ident :food/portions
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many}

 ;; Constituents / Measurements
 ;;
 ;; Bestanddeler av mat, en mengde av et næringsmiddel.
 ;; En måling er et tall med en kilde (hvor kommer tallet fra).

 {:db/ident :constituent/nutrient
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/quantity
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/observation ;; when Maths don't apply
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/percent
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/source
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/value-type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/acquisition-type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/method-type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :measurement/method-indicator
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; Portion kind
 ;;
 ;; En matvare serveres gjerne i forskjellige porsjoner,
 ;; slik som en bukett med blomkål eller et beger med yoghurt.

 {:db/ident :portion-kind/id
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :portion-kind/name
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :portion-kind/unit
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; Portions
 ;;
 ;; En konkret porsjonsstørrelse for en matvare, med vanlig størrelse.
 ;; Eksempelvis er 1 stk banan beregnet til 120 gram.

 {:db/ident :portion/kind
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :portion/quantity
  :dte/valueType :broch/quantity
  :db/cardinality :db.cardinality/one}

 ;; Food group
 ;;
 ;; Matvarer deles inn i et hierarki av matvaregrupper.

 {:db/ident :food-group/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :food-group/parent
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :food-group/name
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 ;; Nutrient
 ;;
 ;; Et næringsstoff, som også forstås hierarkisk
 ;; Eksempelvis fett og diverse fettsyrer.

 {:db/ident :nutrient/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :nutrient/parent
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/name
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/euro-fir-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :nutrient/euro-fir-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/unit
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :nutrient/decimal-precision
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 ;; Origin
 ;;
 ;; En kilde for hvordan en måling er beregnet / funnet.

 {:db/ident :source/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :source/description
  :dte/valueType :i18n/edn
  :db/cardinality :db.cardinality/one}

 ;; Langual code
 ;;
 ;; Et artig klassifiseringssystem for matvarer og deres iboende egenskaper.

 {:db/ident :langual-code/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :langual-code/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 ;; FoodEx2
 ;;
 ;; Et artig, og mer komplisert klassifiseringssystem for matvarer og deres fasetter.
 {:db/ident :foodex2.facet/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :foodex2.facet/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :foodex2.term/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 {:db/ident :foodex2.term/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :foodex2.term/note
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :foodex2.term/note-links
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many}

 {:db/ident :foodex2/term
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :foodex2/facet
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :foodex2/aspects
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true}

 {:db/ident :foodex2/classification
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true}

]
