[{:nutrient/id "Karbo"
  :nutrient/description
  {:nb (list "Karbohydrater er en av de tre hovedtypene næringsstoffer, sammen med
  " [:a {:href "/protein/"} "proteiner"] " og " [:a {:href "/fett/"} "fett"]
             ". De er kroppens viktigste energikilde. Karbohydrater finnes
  i matvarer som brød, pasta, ris, frukt, grønnsaker og sukker. Når du spiser
  karbohydrater, brytes de ned til glukose (sukker) i kroppen, som gir energi
  til cellene og hjernen.")
   :en (list "Carbohydrates are one of the three main types of nutrients, along with
   " [:a {:href "/en/protein/"} "proteins"] " and " [:a {:href "/en/fat/"} "fats"]
             ". They are the body's primary source of energy.
   Carbohydrates are found in foods like bread, pasta, rice, fruits, vegetables,
   and sugar. When you consume carbohydrates, they are broken down into
   glucose (sugar) in the body, providing energy to the cells and the brain.")}}

 {:nutrient/id "Protein"
  :nutrient/description
  {:nb (list "Proteiner er en av de tre hovedtypene næringsstoffer, sammen med
  " [:a {:href "/karbohydrat/"} "karbohydrater"] " og " [:a {:href "/fett/"} "fett"]
             ". Proteiner er essensielle næringsstoffer som er viktige for oppbyggingen
  og reparasjonen av kroppens vev, inkludert muskler, hud og organer. De består
  av aminosyrer og er avgjørende for kroppens funksjoner. Kilder til proteiner
  inkluderer kjøtt, fisk, egg, meieriprodukter, nøtter og belgfrukter.")
   :en (list "Proteins are one of the three main types of nutrients, along with
   " [:a {:href "/en/carbohydrate/"} "carbohydrates"] " and " [:a {:href "/en/fat/"} "fats"]
             ". Proteins are essential nutrients crucial for building and repairing the
   body's tissues, including muscles, skin, and organs. They are composed of
   amino acids and are vital for the body's functions. Sources of proteins
   include meat, fish, eggs, dairy products, nuts, and legumes.")}}

 {:nutrient/id "Fett"
  :nutrient/description
  {:nb (list "Fett er en av de tre hovedtypene næringsstoffer, sammen med "
             [:a {:href "/protein/"} "proteiner"] " og "
             [:a {:href "/karbohydrat/"} "karbohydrater"]
             ". Fett er en viktig energikilde og hjelper kroppen med å
  absorbere visse vitaminer. Det finnes to hovedtyper fett: mettet
  fett (eksempelvis fra animalske produkter og noen planteoljer) og umettet
  fett (eksempelvis fra fisk, nøtter, avokado og olivenolje).")
   :en (list "Fats are one of the three main types of nutrients, along with
   " [:a {:href "/en/carbohydrate/"} "carbohydrates"] " and " [:a {:href "/en/protein/"} "proteins"]
             ". Fat is a significant source of energy and aids the body in absorbing
   certain vitamins. There are two main types of fat: saturated fat (found in
   animal products and some plant oils) and unsaturated fat (found in fish,
   nuts, avocado, and olive oil).")}}]
