.mvt-nutrition-table {
    background: white;
    padding: 1em 1em 1.5em;
}

.mvt-nutrition-table.small {
    font-size: 1rem;
}

.mvt-nutrition-table table {
    border-collapse: collapse;
    width: 100%;
}

.mvt-nutrition-table caption {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.mvt-nutrition-table th,
.mvt-nutrition-table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 0.4em 0;
}

.mvt-nutrition-table th {
    padding-right: 0.8em;
}

.mvt-nutrition-table .subcategory th {
    font-weight: normal;
    padding-left: 1.2em;
}

.mmm-nutrient-table tbody tr td:last-child {
    width: 30%;
}

.mmm-nutrient-table thead tr th:last-child {
    white-space: nowrap;
}

.mmm-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #eee;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: mmm-rotation 1.5s linear infinite;
}

@keyframes mmm-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/********************************************
 *** Hover popup, used with the pie chart ***
 ********************************************/

.mtv-hover-popup {
    font-size: var(--mt-typography-small-font-size);
    padding: var(--mt-component-hover-popup-padding);
    border-radius: var(--mt-component-hover-popup-radius);
    background: var(--mt-component-hover-popup-bg);
    position: absolute;
    box-shadow: var(--mt-component-hover-popup-shadow);
    pointer-events: none;
    white-space: nowrap;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 400ms ease, margin-top 400ms ease;
}

.mtv-hover-popup-visible {
    opacity: 1;
    margin-top: 0;
}

.mtv-hover-popup:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: var(--mt-component-hover-popup-bg) transparent transparent transparent;
}
