/* EIRIK STUFF: */
.header {
    background: var(--mtds-color-surface-default);
    color: var(--mtds-color-text-default);
    padding-block: var(--mtds-5);
}
.banner {
    background: var(--mtds-color-surface-tinted);
    color: var(--mtds-color-text-default);
    padding-block: var(--mtds-8) var(--mtds-12);
}
.footer {
    background: var(--mtds-color-background-default);
    color: var(--mtds-color-text-subtle);
    margin-top: var(--mtds-18);
    padding-block: var(--mtds-18) var(--mtds-22);
}

@media only screen and (max-width: 780px) {
    .desktop {
        display: none;
    }
}

.mmm-drawer {
    background: var(--mtds-color-surface-default);
    border-top: 2px solid;
    bottom: 0;
    height: auto!important; /* Overwrite deprecated transition */
    left: 0;
    padding: var(--mtds-5);
    position: fixed;
    right: 0;
    transition: height 0.25s;
    z-index: 2;
}

.mmm-drawer-content {
    padding: var(--mt-spacing-box-padding-m);
}

.mmm-drawer-closed {
    display: none;
}
.mmm-hidden {
    display: none;
}
