.mvt-nutrition-table {
    background: white;
    padding: 1em 1em 1.5em;
}

.mvt-nutrition-table.small {
    font-size: 1rem;
}

.mvt-nutrition-table table {
    border-collapse: collapse;
    width: 100%;
}

.mvt-nutrition-table caption {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.mvt-nutrition-table th,
.mvt-nutrition-table td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 0.4em 0;
}

.mvt-nutrition-table th {
    padding-right: 0.8em;
}

.mvt-nutrition-table .subcategory th {
    font-weight: normal;
    padding-left: 1.2em;
}

.search-input-wrap {
    margin: 40px auto;
    width: 600px;
    max-width: 100%;
}




.mmm-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.mmm-card {
    width: 30vw;
    flex-shrink: 0;
    padding: 24px;
    background: #fff;
}

.mmm-hero-banner {
    background: #F1EADF;
    padding: 40px 0;
}

.mmm-secondary-banner {
    background: #D6E8ED;
    padding: 40px 0;
}

.one-two-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.one-box {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #fff;
    text-decoration: none;
}

.two-box {
    grid-column: 2 / 3;
    border-radius: 5px;
    background: #075B7A;
    color: #fff;
    text-decoration: none;
}

.one-box > *,
.two-box > * { height: 100%; }

.flex {display: flex;}
.flex-center {align-items: center; justify-content: center;}

.flex-gap-m {gap: 28px;}
.flex-gap-l {gap: 40px;}

.nbr {white-space: nowrap;}

.container-narrow {
    max-width: 1096px;
    margin: 0 auto;
}

.subtle-list,
.text .subtle-list {
    margin: var(--space-content) 0;
    padding: 0;
    list-style-type: none;
}

.subtle-list li,
.text .subtle-list li {
    margin: 0;
    padding: 0;
}

.mmm-nutrient-table tbody tr td:last-child {
    width: 30%;
}

.tac { text-align: center; }

.mmm-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #eee;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: mmm-rotation 1.5s linear infinite;
}

@keyframes mmm-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
