/* EIRIK STUFF: */
.header {
    background: var(--mtds-color-surface-default);
    color: var(--mtds-color-text-default);
    padding-block: var(--mtds-5);
}
.banner {
    background: var(--mtds-color-surface-tinted);
    color: var(--mtds-color-text-default);
    padding-block: var(--mtds-8) var(--mtds-12);
}
.footer {
    background: var(--mtds-color-background-default);
    color: var(--mtds-color-text-subtle);
    margin-top: var(--mtds-18);
    padding-block: var(--mtds-18) var(--mtds-22);
}

:root {
    --mtds-color-charts-chart-f: var(--mtds-color-info-surface-tinted); /* Add missing chart-color for "water" */
    --mtdsc-chart-color-6: var(--mtds-color-charts-chart-f);
}

.chart-legend li {
    display: flex;
    align-items: center;
    gap: var(--mtds-2);
}
.chart-legend li::before {
    content: "";
    width: var(--mtds-4);
    height: var(--mtds-4);
    background-color: var(--color);
    border-radius: 50%;
    border: 1px solid;
}

@media (min-width: 781px) {
    .mobile { display: none }
}
@media (max-width: 780px) {
    .desktop { display: none }
}

.drawer {
    background: var(--mtds-color-surface-default);
    border-top: 2px solid;
    bottom: 0;
    height: auto!important; /* Overwrite deprecated transition */
    left: 0;
    padding: var(--mtds-5);
    position: fixed;
    right: 0;
    transition: height 0.25s;
    z-index: 2;
}

.mmm-hidden {
    display: none;
}
