@import url(./albert-sans.css);

/************************************
 *** "Global" (within .mmm) rules ***
 ************************************/

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/figtree-italic-le.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/figtree-italic-l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/figtree-normal-le.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(/fonts/figtree-normal-l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.mmm *,
.mmm ::before,
.mmm ::after {
    box-sizing: border-box;
    border: none;
}

.mmm * {
    margin: 0;
    padding: 0;
}

.mmm {
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: var(--mt-typography-base-font-size);
    box-sizing: border-box;
}

.mmm body,
body.mmm {
    background: var(--mt-color-background-default);
    color: var(--mt-color-text-neutral-default);
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;
    flex-direction: column;
    align-items: baseline;
}

.mmm body > *,
body.mmm > * {
    width: 100%;
}

/************************
 *** Basic typography ***
 ************************/

.mmm-h1,
.mmm-text .mmm-h1,
.mmm-text h1 {
    font-size: var(--mt-typography-heading-l-font-size);
    font-weight: var(--mt-typography-heading-l-font-weight);
    line-height: var(--mt-typography-heading-l-line-height);
}

.mmm-h2,
.mmm-text .mmm-h2,
.mmm-text h2 {
    font-size: var(--mt-typography-heading-m-font-size);
    font-weight: var(--mt-typography-heading-m-font-weight);
    line-height: var(--mt-typography-heading-m-line-height);
}

.mmm-h3,
.mmm-text .mmm-h3,
.mmm-text h3 {
    font-size: var(--mt-typography-heading-s-font-size);
    font-weight: var(--mt-typography-heading-s-font-weight);
    line-height: var(--mt-typography-heading-s-line-height);
}

.mmm-h4,
.mmm-text .mmm-h4,
.mmm-text h4,
.mmm-h5,
.mmm-text .mmm-h5,
.mmm-text h5,
.mmm-h6,
.mmm-text .mmm-h6,
.mmm-text h6 {
    font-size: var(--mt-typography-heading-xs-font-size);
    font-weight: var(--mt-typography-heading-xs-font-weight);
    line-height: var(--mt-typography-heading-xs-line-height);
}

.mmm-h6,
.mmm-text .mmm-h6,
.mmm-text h6 {
    font-size: var(--mt-typography-heading-xxs-font-size);
    font-weight: var(--mt-typography-heading-xxs-font-weight);
    line-height: var(--mt-typography-heading-xxs-line-height);
}

.mmm-text h1:not(:first-child),
.mmm-text h2:not(:first-child),
.mmm-text h3:not(:first-child),
.mmm-text h4:not(:first-child),
.mmm-text h5:not(:first-child),
.mmm-text h6:not(:first-child),
.mmm-h1:not(:first-child),
.mmm-h2:not(:first-child),
.mmm-h3:not(:first-child),
.mmm-h4:not(:first-child),
.mmm-h5:not(:first-child),
.mmm-h6:not(:first-child) {
    margin-top: var(--mt-typography-heading-top-spacing);
}

.mmm-p,
.mmm-text,
.mmm-ul,
.mmm-ol,
.mmm-dl {
    font-size: var(--mt-typography-paragraph-long-s-font-size);
    font-weight: var(--mt-typography-paragraph-long-s-font-weight);
    line-height: var(--mt-typography-paragraph-long-s-line-height);
}

.mmm-dl dt,
.mmm-text dt {
    font-size: var(--mt-typography-heading-xs-font-size);
    line-height: var(--mt-typography-heading-xs-line-height);
    font-weight: var(--mt-typography-heading-xs-font-weight);
    margin-bottom: var(--mt-layout-vertical-spacing-tight);
}

.mmm-dl dd + dt,
.mmm-text dd + dt,
.mmm-dl div + div,
.mmm-text dl div + div {
    margin-top: var(--mt-layout-vertical-spacing-normal);
}

.mmm-text ul,
.mmm-ul {
    list-style-type: disc;
}

.mmm-text ol,
.mmm-ol {
    list-style-type: decimal;
}

.mmm-text ul li,
.mmm-ul li,
.mmm-text ol li,
.mmm-ol li {
    margin: var(--mt-layout-vertical-spacing-tight) 0;
}

.mmm-text ul li,
.mmm-ul li {
    margin-left: var(--mt-component-list-ul-margin-left);
}

.mmm-text ol li,
.mmm-ol li {
    margin-left: 1.75rem;
}

.mmm-unadorned-list,
ul.mmm-unadorned-list,
ol.mmm-unadorned-list {
    list-style-type: none;
}

ul.mmm-unadorned-list li,
ol.mmm-unadorned-list li {
    margin-left: 0;
}

.mmm-unadorned-list li .mmm-unadorned-list {
    margin-left: var(--mt-component-list-ul-margin-left);
    margin-top: var(--mt-component-list-nested-margin-top);
    margin-bottom: var(--mt-component-list-nested-margin-bottom);
}

.mmm-text a:link,
.mmm-text a:visited,
.mmm-link,
.mmm-p a:link,
.mmm-p a:visited {
    color: var(--mt-color-text-action-default);
    cursor: pointer;
    text-decoration: var(--mt-typography-decoration-action-default);
    text-decoration-thickness: var(--mt-typography-decoration-action-thickness);
}

.mmm-text a:hover,
.mmm-link:hover {
    color: var(--mt-color-border-action-active);
    text-decoration: var(--mt-typography-decoration-action-active);
    text-decoration-thickness: var(--mt-typography-decoration-action-active-thickness);
}

.mmm-fc {
    width: fit-content;
}

.mmm-tac {
    text-align: center;
}

.mmm-tar {
    text-align: right;
}

.mmm-nbr {
    white-space: nowrap;
}

.mmm-alr {
    align-self: flex-end;
    align-items: flex-end;
}

.mmm-preamble {
    font-size: var(--mt-typography-preamble-m-font-size);
    font-weight: var(--mt-typography-preamble-m-font-weight);
    line-height: var(--mt-typography-preamble-m-line-height);
}

.mmm-preamble-s {
    font-size: var(--mt-typography-preamble-s-font-size);
    font-weight: var(--mt-typography-preamble-s-font-weight);
    line-height: var(--mt-typography-preamble-s-line-height);
}

.mmm-small {
    font-size: var(--mt-typography-small-font-size);
    --mt-typography-paragraph-long-s-font-size: var(--mt-typography-small-font-size);
    --mt-component-checkbox-size: var(--mt-component-checkbox-size-s);
}

.mmm-inline p,
.mmm-inline ul,
.mmm-inline ol {
    display: inline;
    line-height: var(--mt-font-line-height-normal);
}

.mmm-inline li + li {
    padding-left: 0.5rem;
}

/******************
 *** Focusables ***
 ******************/

.mmm-focusable {
    transition: box-shadow 0.15s ease-in-out;
}

/* Give it some weight to combat any box-shadow: none on classes that are
   combined with the focusable class */
.mmm-focusable:focus,
.mmm .mmm-focusable:focus {
    outline: none;
    box-shadow: var(--mt-focusable-shadow);
}

.mmm-focusable:focus {
    z-index: 1;
}

/**************
 *** Images ***
 **************/

.mmm-img,
.mmm-svg {
    display: block;
    max-width: 100%;
}

.mmm-svg,
.mmm svg {
    fill: currentColor;
    max-height: 100%;
}

/**************
 *** Tables ***
 **************/

.mmm-table caption {
    font-size: var(--mt-typography-heading-m-font-size);
    font-weight: var(--mt-typography-heading-m-font-weight);
    line-height: var(--mt-typography-heading-m-line-height);
    margin: var(--mt-layout-vertical-spacing-normal) 0;
    text-align: left;
}

.mmm-table:first-child caption {
    margin-top: 0;
}

.mmm-table {
    background: var(--mt-color-background-default);
    font-size: var(--mt-typography-small-font-size);
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.mmm-table-zebra tbody tr:nth-child(odd),
.mmm-table tbody .mmm-zebra-strip,
.mmm-table-zebra > tr:nth-child(even) {
    background-color: var(--mt-component-table-background-zebra);
}

.mmm-table-hover tbody tr:hover,
.mmm-table-hover tbody tr.mmm-highlight:hover,
.mmm-table-hover > tr:hover,
.mmm-table-hover > tr.mmm-highlight:hover {
    background-color: var(--mt-component-table-background-hover);
}

tbody tr.mmm-highlight,
table > tr.mmm-highlight,
table.mmm-table-zebra tr.mmm-highlight {
    background-color: var(--mt-component-table-background-highlight);
}

.mmm-table {
    background: var(--mt-component-table-background);
}

.mmm-table td,
.mmm-table th {
    padding: var(--mt-component-table-cell-padding);
    border-bottom: 1px solid var(--mt-component-table-cell-border-color);
    border-right: var(--mt-component-table-cell-border-h-width) solid var(--mt-component-table-cell-border-color);
}

@media only screen and (max-width: 779px) {
    .mmm {
        --mt-component-table-cell-padding: var(--mt-spacing-x1)
    }
}

.mmm-table thead td,
.mmm-table thead th,
.mmm-table .mmm-thead td,
.mmm-table .mmm-thead th {
    background: var(--mt-component-table-thead-background);
    border-bottom: var(--mt-component-table-thead-border-width) solid var(--mt-component-table-cell-border-color);
    border-top: var(--mt-component-table-thead-border-width) solid var(--mt-component-table-cell-border-color);
}

.mmm-table > tr:first-child td,
.mmm-table > tr:first-child th {
    border-top: 1px solid var(--mt-component-table-cell-border-color);
}

.mmm-table td:last-child,
.mmm-table th:last-child {
    border-right: none;
}

.mmm-table thead th,
.mmm-table .mmm-thead th {
    font-size: var(--mt-component-table-thead-th-font-size);
    font-weight: var(--mt-component-table-thead-th-font-weight);
}

.mmm-table tbody th,
.mmm-table > tr th {
    font-size: var(--mt-component-table-tbody-th-font-size);
    font-weight: var(--mt-component-table-tbody-th-font-weight);
}

.mmm-td-min {
    width: 5ch;
    white-space: nowrap;
}

.mmm-elastic-table {
    width: auto;
    min-width: min(100%, calc(var(--mt-layout-container-width) - 2*var(--mt-layout-container-gutter)));
    margin: 0 auto;
}

.mmm-elastic-table tbody th,
.mmm-elastic-table tbody td {
    width: 1rem;
}

.mmm-elastic-table tbody .mmm-et-wrap {
    width: auto;
    min-width: 10rem;
    max-width: 15rem;
    padding-bottom: var(--mt-component-table-cell-padding-s);
    padding-top: var(--mt-component-table-cell-padding-s);
}

/***********************
 *** Sticky elements ***
 ***********************/

.mmm-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.mmm-sticky-hor {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    line-height: 1.5;
}

tbody td.mmm-sticky-hor {
    background: var(--mt-color-background-default);
}

.mmm-table-zebra tbody tr:nth-child(odd) td.mmm-sticky-hor,
.mmm-table tbody .mmm-zebra-strip td.mmm-sticky-hor,
.mmm-table-zebra > tr:nth-child(even) td.mmm-sticky-hor {
    background-color: var(--mt-component-table-background-zebra);
}

/*************************
 *** Forms: Text input ***
 *************************/

.mmm-input {
    width: 100%;
    padding: var(--mt-component-form-field-padding-v) var(--mt-component-form-field-padding-h);
    border: 1px solid var(--mt-component-form-field-border);
    border-radius: 0.25em;
    background-color: var(--mt-component-form-field-background);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 2.75rem;
}

.figtree {
    font-family: 'Figtree', Helvetica, Arial, ui-sans-serif, system-ui, sans-serif;
}

.albert {
    font-family: "Albert Sans", Helvetica, Arial, ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

.mmm-input-m {
    width: 25ch;
}

.mmm-input-compact {
    height: 2rem;
    font-size: var(--mt-typography-small-font-size);
}

/*********************
 *** Forms: Select ***
 *********************/

.mmm-select {
    align-items: center;
    cursor: pointer;
    /* Unset padding from e.g. mmm-input, and transfer to the select to increase
       clickable area. Why not just set .mmm-input directly on the select
       element? Well, we want to position the arrow on top of the select, but
       with a lower z-index so clicks go to the select. This requires a
       transparent background on the select element. So it needs to have a
       sentient container anyway. */
    padding: 0;
    position: relative;
}

.mmm-select-m {
    width: 22ch;
}

.mmm-select select {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.mmm-input select {
    padding: var(--mt-component-form-field-padding-v) var(--mt-component-form-field-padding-h);
}

.mmm-select select::-ms-expand {
    display: none;
}

.mmm-select .mmm-svg {
    position: absolute;
    right: var(--mt-component-form-field-padding-h);
    top: 50%;
    transform: translateY(-50%);
    height: var(--mt-component-form-select-size);
    width: var(--mt-component-form-select-size);
    z-index: 0;
}

/***********************
 *** Forms: Checkbox ***
 ***********************/

.mmm-checkbox {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var(--mt-horizontal-gap);
    position: relative;
}

.mmm-checkbox input {
    display: none;
}

.mmm-checkbox .checkbox-marker {
    fill: var(--mt-component-checkbox-inactive-bg);
    stroke: var(--mt-component-checkbox-inactive-color);
    transition: stroke 0.25s, fill 0.25s;
    width: var(--mt-component-checkbox-size);
}

.mmm-checkbox input:checked + .checkbox-marker {
    fill: var(--mt-component-checkbox-active-color);
    stroke: var(--mt-component-checkbox-active-color);
}

/***************************
 *** Forms: Action input ***
 ***************************/

.mmm-action-input {
    display: flex;
}

.mmm-action-input :first-child {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mmm-action-input:has(~ u-datalist:not([hidden]) u-option) :first-child {
    border-bottom-left-radius: 0;
}

.mmm-action-input :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

/***************************
 *** Forms: Search input ***
 ***************************/

.mmm-search-input {
    position: relative;
}

/****************************
 *** Forms: Auto-complete ***
 ****************************/

.mmm-ac-results {
    background: var(--mt-component-ac-background);
    border-top: none;
    border: 1px solid var(--mt-component-ac-border-color);
    left: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-top: -1px;
    padding-inline-start: 0;
    position: absolute;
    right: 0;
    z-index: 10;
}

.mmm-ac-result {
    margin: 0;
    border-bottom: 1px solid var(--mt-component-ac-border-color);
}

.mmm-ac-result a,
u-option.mmm-ac-result,
option.mmm-ac-result {
    display: block;
    font-size: var(--mt-component-ac-result-font-size);
    padding: var(--mt-component-ac-result-padding-h) var(--mt-component-ac-result-padding-v);
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}

.mmm-ac-selected a,
u-option.mmm-ac-result:focus {
    background: var(--mt-component-ac-active-background);
    outline-color: var(--mt-component-ac-border-color);
}

.mmm-search-input-compact .mmm-ac-results {
    font-size: var(--mt-typography-small-font-size);
}

/************************
 *** Responsive sizes ***
 ************************/

.mmm {
    --mt-grid-gutter: var(--mt-grid-mobile-gutter);
    --mt-grid-padding: var(--mt-grid-mobile-padding);
    --mt-grid-width: var(--mt-grid-mobile-width);
    --mt-grid-column-width: var(--mt-grid-mobile-column-width);
}

@media only screen and (max-width: 780px) {
    .mmm-mobile-scroll {
        overflow-x: scroll;
    }

    .mmm .mmm-desktop {
        display: none;
    }
}

@media only screen and (min-width: 779px) {
    .mmm .mmm-mobile {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .mmm {
        --mt-grid-gutter: var(--mt-grid-desktop-gutter);
        --mt-grid-padding: var(--mt-grid-desktop-padding);
        --mt-grid-width: var(--mt-grid-desktop-width);
        --mt-grid-column-width: var(--mt-grid-desktop-column-width);
    }
}

/***************
 *** Layouts ***
 ***************/

.mmm-hidden,
.mmm .mmm-hidden {
    display: none;
}

/* Cards */

.mmm-cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mt-column-gap);
}

.mmm-card {
    border-radius: var(--mt-component-card-border-radius);
    flex-shrink: 0;
    flex-grow: 1;
    padding: var(--mt-column-gap);
    background: var(--mt-brand-theme-main-bg);
    display: flex;
}

.mmm-card:has(*) {
    border: var(--mt-component-card-border);
}

.mmm-card.mmm-link {
    text-decoration: none;
}

.mmm-card.mmm-link:hover {
    text-decoration: underline;
}

.mmm-card.mmm-link .mmm-text h1,
.mmm-card.mmm-link .mmm-text h2,
.mmm-card.mmm-link .mmm-text h3,
.mmm-card.mmm-link .mmm-text h4 {
    text-decoration: underline;
}

.mmm-cols-d3m2 { /* 3 on desktop, 2 on mobile */
    flex-basis: 40%;
}

.mmm-cols-d2m1 { /* 2 on desktop, 1 on mobile */
    flex-basis: 80%;
}

@media only screen and (min-width: 780px) {
    .mmm-cols-d3m2 {
        flex-basis: 30%;
    }

    .mmm-cols-d2m1 {
        flex-basis: 40%;
    }

    .mmm-cols-d1_2 .mmm-col:nth-child(2n+1) {
        flex-basis: 32%;
    }

    .mmm-cols-d1_2 .mmm-col:nth-child(2n) {
        flex-basis: 65%;
    }
}

.mmm-relative {
    position: relative;
}

.mmm-pos-tr {
    position: absolute;
    top: var(--mt-spacing-box-padding-m);
    right: var(--mt-spacing-box-padding-m);
}

/* Container */

.mmm-container,
.mmm-container-focused,
.mmm-container-narrow,
.mmm-container-medium {
    max-width: var(--mt-layout-container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--mt-layout-container-gutter);
}

.mmm-container-spacing {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--mt-layout-container-gutter);
}

.mmm-container-focused {
    max-width: var(--mt-layout-container-focused-width);
}

.mmm-container-medium {
    max-width: var(--mt-layout-container-medium-width);
}

.mmm-container-narrow {
    max-width: var(--mt-layout-container-narrow-width);
}

/* Flex */

.mmm-flex {
    display: flex;
    justify-content: space-between;
}

.mmm-flex-center {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 780px) {
    .mmm-flex-desktop {
        display: flex;
        justify-content: space-between;
    }

    .mmm-flex-desktop-middle {
        align-items: center;
    }
}

.mmm-flex-bottom {
    align-items: flex-end;
}

.mmm-flex-middle {
    align-items: center;
}

.mmm-flex-jr {
    justify-content: flex-end;
}

.mmm-flex-jl {
    justify-content: flex-start;
}

.mmm-flex-grow {
    flex-grow: 1;
}

.mmm-flex-gap {gap: var(--mt-column-gap);}

/* Sidescroller */

.mmm-sidescroller {
    overflow-x: scroll;
}

/* Media */

.mmm-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--mt-column-gap);
}

.mmm-media-d {
    display: flex;
    flex-direction: column;
    gap: var(--mt-column-gap);
}

@media only screen and (min-width: 780px) {
    .mmm-media-d {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 779px) {
    .mmm-media-stamp {
        display: block;
    }

    .mmm-media-stamp aside {
        float: right;
    }
}

.mmm-media-at {
    align-items: stretch;
}

.mmm-media article,
.mmm-media-d article {
    flex-grow: 1;
}

.mmm-media-reverse {
    flex-direction: row-reverse;
}

.mmm-media aside,
.mmm-media-d aside {
    flex-basis: fit-content;
}

/* Passepartout */

.mmm-passepartout {
    background: var(--mt-brand-theme-main-bg);
    padding-bottom: var(--mt-spacing-box-padding-l);
    padding-top: var(--mt-spacing-box-padding-l);
}

/* Section */

.mmm-section {
    margin-bottom: var(--mt-layout-section-spacing);
    margin-top: var(--mt-layout-section-spacing);
}

.mmm-section-spaced {
    margin-bottom: var(--mt-layout-section-spacing-spacey);
    margin-top: var(--mt-layout-section-spacing-spacey);
}

/* Themed */

.mmm-themed {
    background: var(--mt-brand-theme-bg);
    color: var(--mt-brand-theme-color);
    overflow: auto; /* Establish a rendering context, avoid "overflowing" margins */
}

/* Columns / Three columns */

.mmm-threecol,
.mmm-cols {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--mt-column-gap);
}

.mmm-cols .mmm-col {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

.mmm-twocols .mmm-col {
    flex-basis: 48%;
}

.mmm-threecol .mmm-col {
    flex-basis: 0;
    flex-grow: 5;
}

.mmm-threecol .mmm-col:first-child,
.mmm-threecol .mmm-col:last-child {
    flex-grow: 3;
}

@media only screen and (min-width: 780px) {
    .mmm-threecol,
    .mmm-cols {
        flex-direction: row;
    }
}

/* Vertical layout */

.mmm-vert-layout-l,
.mmm-vert-layout-m,
.mmm-vert-layout-s {
    display: flex;
    flex-direction: column;
    gap: var(--mt-spacing-x2);
}

.mmm-vert-layout-m {
    gap: var(--mt-spacing-x1_4);
}

.mmm-vert-layout-s {
    gap: var(--mt-spacing-x0_5);
}

.mmm-vert-layout-spread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 779px) {
    .mmm-mobile-vert-layout-m {
        display: flex;
        flex-direction: column;
        gap: var(--mt-spacing-x1_4);
    }
}

/* Dividers */

.mmm-divider {
    border-top: 2px solid var(--mt-component-divider-border-color);
    padding-top: var(--mt-component-divider-padding);
}

.mmm-bottom-divider {
    border-bottom: 2px solid var(--mt-component-divider-border-color);
    padding-bottom: var(--mt-component-divider-padding);
}

/**********************
 *** Mobile sidebar ***
 **********************/

.mmm-with-modal {
    overflow: hidden;
}

.mmm-sidebar,
.mmm .mmm-sidebar {
    display: block;
}

.mmm-sidebar {
    background: var(--mt-color-beige-200);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    transition: left 0.25s ease-in;
    width: 100%;
}

.mmm-sidebar .mmm-sidebar-content {
    padding: 24px;
}

.mmm-sidebar-closed {
    left: -100%;
}

/***************
 *** Banners ***
 ***************/

/* Media buttons banner */

.mmm-banner-media-buttons {
    background: var(--mt-brand-theme-bg);
    color: var(--mt-brand-theme-color);
}

.mmm-banner-media-buttons .mmm-container {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--mt-column-gap);
    padding-top: var(--mt-component-banner-media-buttons-padding);
    padding-bottom: var(--mt-component-banner-media-buttons-padding);
}

.mmm-banner-media-buttons .mmm-media,
.mmm-banner-media-buttons .mmm-buttons {
    flex-shrink: 0;
    flex-basis: 0;
}

.mmm-banner-media-buttons .mmm-media {
    border-radius: var(--mt-component-banner-media-buttons-container-border-radius);
    background: var(--mt-brand-theme-main-bg);
    color: var(--mt-brand-theme-main-color);
    flex-grow: 19.5;
    padding: var(--mt-grid-desktop-padding);
}

.mmm-banner-media-buttons .mmm-media a {
    color: var(--mt-brand-theme-main-action-color);
}

.mmm-banner-media-buttons .mmm-buttons {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    gap: var(--mt-column-gap);
}

.mmm-banner-button {
    background: var(--mt-brand-theme-secondary-bg);
    border-radius: var(--mt-component-banner-media-buttons-button-border-radius);
    color: var(--mt-brand-theme-secondary-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: var(--mt-grid-desktop-padding);
}

.mmm-banner-button p:first-child {
    margin-top: 0;
}

.mmm-banner-button p:last-child {
    margin-bottom: 0;
}

.mmm-banner-media-buttons .mmm-buttons a {
    color: var(--mt-brand-theme-secondary-action-color);
    text-decoration: none;
}

@media only screen and (min-width: 780px) {
    .mmm-banner-media-buttons .mmm-container {
        flex-direction: row;
    }
}

/*************************
 *** Spacing utilities ***
 *************************/

.mmm-man, .mmm-mvn, .mmm-mtn {margin-top: 0;}
.mmm-man, .mmm-mvn, .mmm-mbn {margin-bottom: 0;}

.mmm-mas, .mmm-mvs, .mmm-mts {margin-top: var(--mt-spacing-x0_5);}
.mmm-mam, .mmm-mvm, .mmm-mtm {margin-top: var(--mt-spacing-x1_4);}
.mmm-mal, .mmm-mvl, .mmm-mtl {margin-top: var(--mt-spacing-x2);}
.mmm-maxl, .mmm-mvxl, .mmm-mtxl {margin-top: var(--mt-spacing-x3_6);}
.mmm-maxxl, .mmm-mvxxl, .mmm-mtxxl {margin-top: var(--mt-spacing-x6);}

.mmm-mas, .mmm-mvs, .mmm-mbs {margin-bottom: var(--mt-spacing-x0_5);}
.mmm-mam, .mmm-mvm, .mmm-mbm {margin-bottom: var(--mt-spacing-x1_4);}
.mmm-mal, .mmm-mvl, .mmm-mbl {margin-bottom: var(--mt-spacing-x2);}
.mmm-maxl, .mmm-mvxl, .mmm-mbxl {margin-bottom: var(--mt-spacing-x3_6);}
.mmm-maxxl, .mmm-mvxxl, .mmm-mbxxl {margin-bottom: var(--mt-spacing-x6);}

.mmm-mas, .mmm-mhs, .mmm-mls {margin-left: var(--mt-spacing-x0_5);}
.mmm-mam, .mmm-mhm, .mmm-mlm {margin-left: var(--mt-spacing-x1_4);}
.mmm-mal, .mmm-mhl, .mmm-mll {margin-left: var(--mt-spacing-x2);}
.mmm-maxl, .mmm-mhxl, .mmm-mlxl {margin-left: var(--mt-spacing-x3_6);}
.mmm-maxxl, .mmm-mhxxl, .mmm-mlxxl {margin-left: var(--mt-spacing-x6);}

.mmm-mas, .mmm-mhs, .mmm-mrs {margin-right: var(--mt-spacing-x0_5);}
.mmm-mam, .mmm-mhm, .mmm-mrm {margin-right: var(--mt-spacing-x1_4);}
.mmm-mal, .mmm-mhl, .mmm-mrl {margin-right: var(--mt-spacing-x2);}
.mmm-maxl, .mmm-mhxl, .mmm-mrxl {margin-right: var(--mt-spacing-x3_6);}
.mmm-maxxl, .mmm-mhxxl, .mmm-mrxxl {margin-right: var(--mt-spacing-x6);}

.mmm-pam, .mmm-phm, .mmm-plm {padding-left: var(--mt-spacing-x1_4);}
.mmm-pam, .mmm-phm, .mmm-prm {padding-right: var(--mt-spacing-x1_4);}
.mmm-pam, .mmm-pvm, .mmm-ptm {padding-top: var(--mt-spacing-x1_4);}
.mmm-pam, .mmm-pvm, .mmm-pbm {padding-bottom: var(--mt-spacing-x1_4);}

.mmm-pas, .mmm-phs, .mmm-pls, .mmm-table .mmm-pas {padding-left: var(--mt-spacing-x1);}
.mmm-pas, .mmm-phs, .mmm-prs, .mmm-table .mmm-pas {padding-right: var(--mt-spacing-x1);}
.mmm-pas, .mmm-pvs, .mmm-pts, .mmm-table .mmm-pas {padding-top: var(--mt-spacing-x1);}
.mmm-pas, .mmm-pvs, .mmm-pbs, .mmm-table .mmm-pas {padding-bottom: var(--mt-spacing-x1);}

.mmm-pan, .mmm-phn, .mmm-pln {padding-left: 0;}
.mmm-pan, .mmm-phn, .mmm-prn {padding-right: 0;}
.mmm-pan, .mmm-pvn, .mmm-ptn {padding-top: 0;}
.mmm-pan, .mmm-pvn, .mmm-pbn {padding-bottom: 0;}

@media only screen and (max-width: 779px) {
    .mmm-mobile-pan, .mmm-mobile-phn, .mmm-mobile-pln {padding-left: 0;}
    .mmm-mobile-pan, .mmm-mobile-phn, .mmm-mobile-prn {padding-right: 0;}
    .mmm-mobile-pan, .mmm-mobile-pvn, .mmm-mobile-ptn {padding-top: 0;}
    .mmm-mobile-pan, .mmm-mobile-pvn, .mmm-mobile-pbn {padding-bottom: 0;}

    .mmm-mobile-man, .mmm-mobile-mhn, .mmm-mobile-mln {margin-left: 0;}
    .mmm-mobile-man, .mmm-mobile-mhn, .mmm-mobile-mrn {margin-right: 0;}
    .mmm-mobile-man, .mmm-mobile-mvn, .mmm-mobile-mtn {margin-top: 0;}
    .mmm-mobile-man, .mmm-mobile-mvn, .mmm-mobile-mbn {margin-bottom: 0;}

    .mmm-mobile-container-p {
        padding: 0 var(--mt-layout-container-gutter);
    }
}

/******************************
 *** Component: Breadcrumbs ***
 ******************************/

.mmm-breadcrumbs {
    font-size: var(--mt-component-breadcrumb-font-size);
    --mt-horizontal-gap: var(--mt-component-breadcrumb-horizontal-spacing);
}

.mmm-breadcrumb .mmm-link {
    margin-right: var(--mt-horizontal-gap);
}

/*************************
 *** Component: Button ***
 *************************/

.mmm-button {
    align-items: center;
    background: var(--mt-component-button-background);
    border: 2px solid var(--mt-component-button-background);
    border-radius: var(--mt-component-button-border-radius);
    color: var(--mt-component-button-color);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: var(--mt-component-button-font-size);
    justify-content: center;
    line-height: 2rem;
    height: 2.75rem;
    min-width: 10ch;
    outline: none;
    padding: 0.25rem 1.25rem;
    text-align: center;
    text-decoration: none;
    transition: none 180ms ease-in-out;
    transition-property: background-color, color, border-color, box-shadow;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
}

a.mmm-button:link {
    color: var(--mt-component-button-color);
}

.mmm-button-disabled {
    cursor: default;
    background: var(--mt-component-button-disabled-background);
    border-color: var(--mt-component-button-disabled-background);
    color: var(--mt-component-button-disabled-color);
}

.mmm-button-secondary {
    background: var(--mt-component-button-secondary-background);
    color: var(--mt-component-button-secondary-color);
    border: 2px solid var(--mt-component-button-secondary-border);
}

.mmm-button-secondary.mmm-button-disabled,
.mmm-button-secondary.mmm-button-disabled:link {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
}

a.mmm-button-secondary:link {
    color: var(--mt-component-button-secondary-color);
}

.mmm-button:focus {
    box-shadow: var(--mt-component-button-focus-shadow);
}

.mmm-button-inline {
    display: inline-flex;
    width: auto;
}

.mmm-button-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.4rem;
}

.mmm-button-icon:first-child {
    margin-left: 0;
    margin-right: 0.4rem;
}

.mmm-button-large {
    height: 3.875rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mmm-button-small {
    height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-width: 6ch;
    font-size: var(--mt-typography-base-font-size);
}

.mmm-buttons .mmm-button {
    margin-right: var(--mt-column-gap-wide);
}

.mmm-buttons .mmm-button + .mmm-button {
    margin-right: 0;
}

/***************************
 *** Component: Footnote ***
 ***************************/

.mmm-footnote {
    border-top: 1px solid var(--mt-component-footnote-border-color);
    margin: 0 var(--mt-column-gap-wide);
    padding: var(--mt-layout-vertical-spacing-medium) 0;
}

/******************************
 *** Component: Icon button ***
 ******************************/

.mmm-icon-button {
    --icon-button-size: var(--mt-component-icon-button-size-small);
    --icon-button-font-size: var(--mt-typography-small-font-size);
    border-radius: var(--mt-component-icon-button-border-radius);
    display: inline-flex;
    gap: var(--mt-spacing-box-padding-s);
    padding: var(--mt-component-icon-button-padding);
    transition: background 0.25s;
    height: var(--icon-button-size);
    min-width: var(--icon-button-size);
}

.mmm-icon-button .mmm-svg {
    height: var(--icon-button-size);
    width: calc(var(--icon-button-size) - (2 * var(--mt-component-icon-button-padding)));
}

.mmm-icon-button-m {
    --icon-button-size: var(--mt-component-icon-button-size-medium);
    --icon-button-font-size: var(--mt-typography-heading-s-font-size);
}

.mmm-icon-button-active {
    color: var(--mt-component-icon-button-active-color);
    background: var(--mt-component-icon-button-active-background);
}

.mmm-ib-label {
    align-self: center;
    font-size: var(--icon-button-font-size);
}

/*************************
 *** Component: Drawer ***
 *************************/

.mmm-drawer {
    background: var(--mt-component-drawer-background);
    border-top: 2px solid var(--mt-component-drawer-border-color);
    bottom: 0;
    min-height: 180px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    transition: height 0.25s;
    z-index: 2;
}

.mmm-drawer-content {
    padding: var(--mt-spacing-box-padding-m);
}

.mmm-drawer-closed {
    display: none;
}

.mmm-init-height-transition {
    transition: none;
    min-height: 0;
}

.mmm-height-transition {
    min-height: 0;
}

/**********************************
 *** Component: Target (# URLs) ***
 **********************************/

@keyframes fadeout {
    0% {
        background-color: var(--mt-component-fadeout-background-from);
    }

    100% {
        background-color: var(--mt-component-fadeout-background-to);
    }
}

.mmm-focus:target,
.mmm-flash {
    animation: fadeout 5s;
    animation-iteration-count: 1;
    padding: 8px 16px;
    margin: -8px -16px;
    border-radius: var(--mt-border-radius-s);
}

.mmm-flash {
    display: block;
}

/*************************
 *** Component: Footer ***
 *************************/

.mmm-footer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: var(--mt-component-footer-gap);
    border-top: 2px solid var(--mt-component-footer-border-color);
    padding: 2rem 0;
}

.mmm-footer .mmm-logo {
    width: 200px;
    align-self: center;
    justify-self: end;
}

.mmm-footer .mtds-logo {
    font-size: 1.25rem;
}

.mmm-footer .mmm-h2,
.mmm-footer .mmm-h3,
.mmm-footer .mmm-h6 {
    font-weight: var(--mt-font-weight-bold);
}

.mmm-footer-col {
    flex-basis: 0;
    flex-grow: 1;
}

@media only screen and (min-width: 780px) {
    .mmm-footer {
        flex-direction: row;
        padding: 3.3rem 0 3rem;
    }

    .mmm-footer .mmm-logo {
        align-self: flex-start;
        margin-top: -0.75rem; /* Manually adjust for bubbles */
    }
}

/*************************
 *** Component: Header ***
 *************************/

.mmm-header {
    background: var(--mt-component-header-background-color);
    border-bottom: 2px solid var(--mt-component-header-border-color);
}

.mmm-header .mmm-container {
    display: flex;
    align-items: center;
    height: 98px;
}

.mmm-header .mmm-svg {
    color: var(--mt-component-header-logo-color);
    height: 28.8px;
}

.mmm-header .mtds-logo {
    font-size: 1.72rem;
}

/***********************************
 *** Component: Horizontal lists ***
 ***********************************/

.mmm-horizontal-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    --mt-horizontal-list-gap: var(--mt-horizontal-gap);
    gap: var(--mt-horizontal-list-gap);
}

.mmm-horizontal-list-wide {
    --mt-horizontal-list-gap: calc(2 * var(--mt-horizontal-gap));
}

.mmm-horizontal-list li {
    margin: 0;
    padding: 0;
    display: inline;
}

.mmm-horizontal-list li:last-child {
    margin-right: 0;
}

.mmm .mmm-hl-divider li,
.mmm .mmm-hl-slash li {
    padding-left: 0;
}

.mmm-hl-divider li + li:before {
    content: "• ";
    padding-left: calc(0.75 * var(--mt-horizontal-gap));
    padding-right: calc(0.25 * var(--mt-horizontal-gap));
}

.mmm-hl-slash li + li:before {
    content: "/ ";
    padding-left: calc(0.75 * var(--mt-horizontal-gap));
    padding-right: calc(0.25 * var(--mt-horizontal-gap));
}

/***********************
 *** Component: Pill ***
 ***********************/

.mmm-actionable {
    cursor: pointer;
}

.mmm-pill {
    align-items: center;
    background: var(--mt-component-pill-background);
    border-radius: var(--mt-border-radius-m);
    color: var(--mt-color-text-neutral-default);
    display: inline-flex;
    gap: var(--mt-component-pill-icon-gap);
    padding: var(--mt-component-pill-padding);
    text-decoration: none;
    white-space: nowrap;
}

.mmm-pill .mmm-svg {
    width: 16px;
    height: 16px;
}

/************************************
 *** Component: Table of contents ***
 ************************************/

.mmm-toc {
    padding: var(--mt-spacing-box-padding-m);
    border: 1px solid var(--mt-component-toc-border-color);
}

.mmm-toc-title {
    display: flex;
    align-items: center;
}

.mmm-toc-title h3 {
    margin: 0;
}

.mmm-toc-icon {
    color: var(--mt-component-toc-icon-color);
    width: 30px;
    margin-right: var(--mt-spacing-x0_5);
}

.mmm-toc ol ol {
    list-style-type: lower-alpha;
    margin-top: var(--mt-component-list-nested-margin-top);
    margin-bottom: var(--mt-component-list-nested-margin-bottom);
}

/********************************
 *** Component: Abbreviations ***
 ********************************/

.mmm-abbr {
    text-decoration: underline dotted;
}

/***********************
 *** Component: Tabs ***
 ***********************/

.mmm-tabs {
    display: inline-flex;
    background: var(--mt-component-tabs-bg);
    color: var(--mt-component-tabs-color);
    border-radius: 0.25em 0.25em 0 0;
    padding: 2px;
    gap: 2px;
}

.mmm-tabs-pill-mode {
    border-radius: 0.25em;
}

.mmm-tabs .tab {
    padding: 0.25rem 1.25rem;
    cursor: pointer;
}

.mmm-tabs .tab.selected {
    background: var(--mt-component-tabs-selected-bg);
    border-radius: 0.18em 0.18em 0 0;
    color: var(--mt-component-tabs-selected-color);
    cursor: default;
    margin-bottom: -2px;
}

.mmm-tabs-pill-mode .tab.selected {
    border-radius: 0.18em;
    margin-bottom: 0;
}

.mmm-js-required {visibility: hidden;}
.mmm-js-enabled .mmm-js-required {visibility: visible;}
