/* The Mattilsynet 2024 theme */
:root {
    --mt-cool-grey-100: #F7F7F8;
    --mt-cool-grey-200: #EEEFF1;
    --mt-cool-grey-300: #E0E2E6;
    --mt-cool-grey-400: #B6BCC3;
    --mt-cool-grey-500: #818A98;
    --mt-cool-grey-600: #5C6470;
    --mt-cool-grey-700: #3E444C;
    --mt-cool-grey-800: #22262A;
    --mt-cool-grey-900: #121416;
    --mt-warm-grey-100: #F8F7F7;
    --mt-warm-grey-200: #F1EFEE;
    --mt-warm-grey-300: #E6E2E0;
    --mt-warm-grey-400: #C3BAB6;
    --mt-warm-grey-500: #988781;
    --mt-warm-grey-600: #70625C;
    --mt-warm-grey-700: #4C423E;
    --mt-warm-grey-800: #2A2522;
    --mt-warm-grey-900: #161412;
    --mt-grey-100: #F7F7F7;
    --mt-grey-200: #F0F0F0;
    --mt-grey-300: #E3E3E3;
    --mt-grey-400: #BDBDBD;
    --mt-grey-500: #8C8C8C;
    --mt-grey-600: #666666;
    --mt-grey-700: #454545;
    --mt-grey-800: #262626;
    --mt-grey-900: #141414;
    --mt-brown-100: #FBF6F4;
    --mt-brown-200: #F6EDE9;
    --mt-brown-300: #EFDED7;
    --mt-brown-400: #D7B2A2;
    --mt-brown-500: #BA795F;
    --mt-brown-600: #8E553E;
    --mt-brown-700: #60392A;
    --mt-brown-800: #8C8C8C;
    --mt-brown-900: #1C110C;
    --mt-red-100: #FFF3F0;
    --mt-red-200: #FFE7E2;
    --mt-red-300: #F6D7D0;
    --mt-red-400: #EAA090;
    --mt-red-500: #DA5A3E;
    --mt-red-600: #AB3921;
    --mt-red-700: #742616;
    --mt-red-800: #40150C;
    --mt-red-900: #220B07;
    --mt-yellow-100: #FEF9F0;
    --mt-yellow-200: #FEF4E2;
    --mt-yellow-300: #FDEBC9;
    --mt-yellow-400: #F6D683;
    --mt-yellow-500: #F5AD23;
    --mt-yellow-600: #C38309;
    --mt-yellow-700: #845906;
    --mt-yellow-800: #493103;
    --mt-yellow-900: #231906;
    --mt-green-100: #F8FAF5;
    --mt-green-200: #F0F4EB;
    --mt-green-300: #E4ECDA;
    --mt-green-400: #BFD1A9;
    --mt-green-500: #91B068;
    --mt-green-600: #6A8646;
    --mt-green-700: #485A30;
    --mt-green-800: #28321A;
    --mt-green-900: #151B0E;
    --mt-mint-100: #F5FAF8;
    --mt-mint-200: #EBF4F1;
    --mt-mint-300: #DAECE5;
    --mt-mint-400: #9DDDC5;
    --mt-mint-500: #68B096;
    --mt-mint-600: #46866F;
    --mt-mint-700: #2F5A4B;
    --mt-mint-800: #1A322A;
    --mt-mint-900: #0E1B16;
    --mt-mt-100: #F1FDFE;
    --mt-mt-200: #E2FBFD;
    --mt-mt-300: #CBF8FB;
    --mt-mt-400: #84EFF6;
    --mt-mt-500: #28E3F0;
    --mt-mt-600: #0DAEBA;
    --mt-mt-700: #08676E;
    --mt-mt-800: #054449;
    --mt-mt-900: #032426;
    --mt-blue-100: #F2F6FD;
    --mt-blue-200: #E4EEFB;
    --mt-blue-300: #CFE0F7;
    --mt-blue-400: #8EB5EC;
    --mt-blue-500: #3B7EDE;
    --mt-blue-600: #1E59AE;
    --mt-blue-700: #143C76;
    --mt-blue-800: #0B2141;
    --mt-blue-900: #061223;

}
