/************************************
 *** "Global" (within .mvt) rules ***
 ************************************/

.mvt *,
.mvt ::before,
.mvt ::after {
    box-sizing: border-box;
}

.mvt {
    font-family: var(--mt-font-family-main), system-ui, sans-serif;
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: var(--mt-typography-base-font-size);
    box-sizing: border-box;
}

.mvt body,
body.mvt {
    background: var(--mt-color-background-default);
    margin: 0;
}

/************************
 *** Basic typography ***
 ************************/

.mvt-h1,
.mvt-text h1 {
    font-size: var(--mt-typography-heading-l-font-size);
    font-weight: var(--mt-typography-heading-l-font-weight);
    line-height: var(--mt-typography-heading-l-line-height);
}

.mvt-h2,
.mvt-text h2 {
    font-size: var(--mt-typography-heading-m-font-size);
    font-weight: var(--mt-typography-heading-m-font-weight);
    line-height: var(--mt-typography-heading-m-line-height);
}

.mvt-h3,
.mvt-text h3 {
    font-size: var(--mt-typography-heading-s-font-size);
    font-weight: var(--mt-typography-heading-s-font-weight);
    line-height: var(--mt-typography-heading-s-line-height);
}

.mvt-h4,
.mvt-text h4,
.mvt-h5,
.mvt-h6,
.mvt-text h5,
.mvt-text h6 {
    font-size: var(--mt-typography-heading-xs-font-size);
    font-weight: var(--mt-typography-heading-xs-font-weight);
    line-height: var(--mt-typography-heading-xs-line-height);
}

.mvt-text h1,
.mvt-text h2,
.mvt-text h3,
.mvt-text h4,
.mvt-text h5,
.mvt-text h6,
.mvt-text p,
.mvt-text ul,
.mvt-text ol,
.mvt-h1,
.mvt-h2,
.mvt-h3,
.mvt-h4,
.mvt-h5,
.mvt-h6,
.mvt-p,
.mvt-ul,
.mvt-ol,
.mvt-block {
    margin: var(--mt-typography-vertical-spacing-normal) 0;
    padding: 0;
}

.mvt-p,
.mvt-text,
.mvt-ul,
.mvt-ol {
    font-size: var(--mt-typography-paragraph-long-m-font-size);
    font-weight: var(--mt-typography-paragraph-long-m-font-weight);
    line-height: var(--mt-typography-paragraph-long-m-line-height);
}

.mvt-text ul li,
.mvt-ul li,
.mvt-text ol li,
.mvt-ol li {
    padding: 0;
    margin: var(--mt-typography-vertical-spacing-tight) 0;
}

.mvt-text ul li,
.mvt-ul li {
    margin-left: 1.25rem;
}

.mvt-text ol li,
.mvt-ol li {
    margin-left: 1.75rem;
}

.mvt-text a:link,
.mvt-text a:visited,
.mvt-link {
    color: var(--mt-color-text-action-default);
    text-decoration: var(--mt-typography-decoration-action-default);
}

.mvt-text a:hover,
.mvt-link:hover {
    color: var(--mt-color-border-action-active);
    text-decoration: var(--mt-typography-decoration-action-active);
}

.mvt-fc {
    width: fit-content;
}

.mvt-tac {
    text-align: center;
}

.mvt-tar {
    text-align: right;
}

.mvt-nbr {
    white-space: nowrap;
}

.mvt-preamble {
    font-size: var(--mt-typography-preamble-m-font-size);
    font-weight: var(--mt-typography-preamble-m-font-weight);
    line-height: var(--mt-typography-preamble-m-line-height);
}

.mvt-preamble-s {
    font-size: var(--mt-typography-preamble-s-font-size);
    font-weight: var(--mt-typography-preamble-s-font-weight);
    line-height: var(--mt-typography-preamble-s-line-height);
}

/**************
 *** Images ***
 **************/

.mvt-img,
.mvt-svg {
    display: block;
    max-width: 100%;
}

/**************
 *** Tables ***
 **************/

.mvt-table {
    width: 100%;
}

.mvt-table caption {
    font-size: var(--mt-typography-heading-m-font-size);
    font-weight: var(--mt-typography-heading-m-font-weight);
    line-height: var(--mt-typography-heading-m-line-height);
    margin: var(--mt-typography-vertical-spacing-normal) 0;
    text-align: left;
}

.mvt-table {
    font-size: 1rem;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.mvt-table-zebra tbody tr:nth-child(odd),
.mvt-table-zebra > tr:nth-child(even) {
    background-color: var(--mt-component-table-background-zebra);
}

.mvt-table td,
.mvt-table th {
    padding: var(--mt-component-table-cell-padding);
    border-bottom: 1px solid var(--mt-component-table-cell-border-color);
    border-right: 1px solid var(--mt-component-table-cell-border-color);
}

.mvt-table thead td,
.mvt-table thead th {
    background: var(--mt-component-table-thead-background);
    border-bottom: 2px solid var(--mt-component-table-cell-border-color);
    border-top: 2px solid var(--mt-component-table-cell-border-color);
}

.mvt-table > tr:first-child td,
.mvt-table > tr:first-child th {
    border-top: 1px solid var(--mt-component-table-cell-border-color);
}

.mvt-table td:last-child,
.mvt-table th:last-child {
    border-right: none;
}

.mvt-table thead th {
    font-size: var(--mt-component-table-thead-th-font-size);
    font-weight: var(--mt-component-table-thead-th-font-weight);
}

.mvt-table tbody th,
.mvt-table > tr th {
    font-size: var(--mt-component-table-tbody-th-font-size);
    font-weight: var(--mt-component-table-tbody-th-font-weight);
}

/************************
 *** Responsive sizes ***
 ************************/

.mvt {
    --mt-grid-gutter: var(--mt-grid-mobile-gutter);
    --mt-grid-padding: var(--mt-grid-mobile-padding);
    --mt-grid-width: var(--mt-grid-mobile-width);
    --mt-grid-column-width: var(--mt-grid-mobile-column-width);
}

@media only screen and (min-width: 960px) {
    .mvt {
        --mt-grid-gutter: var(--mt-grid-desktop-gutter);
        --mt-grid-padding: var(--mt-grid-desktop-padding);
        --mt-grid-width: var(--mt-grid-desktop-width);
        --mt-grid-column-width: var(--mt-grid-desktop-column-width);
    }
}

/***************
 *** Layouts ***
 ***************/

/* Container */
.mvt-container {
    max-width: var(--mt-layout-container-width);
    margin: 0 auto;
    padding: 0 var(--mt-layout-container-gutter);
}

/*************************
 *** Component: Button ***
 *************************/

.mvt-button {
    background: var(--mt-component-button-background);
    border: none;
    border-radius: var(--mt-component-button-border-radius);
    color: var(--mt-component-button-color);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: var(--mt-component-button-font-size);
    line-height: 2.25rem;
    min-height: 2.75rem;
    min-width: 10ch;
    outline: none;
    padding: 0.25rem 1.25rem;
    text-align: center;
    text-decoration: none;
    transition: none 180ms ease-in-out;
    transition-property: background-color, color, border-color;
    vertical-align: middle;
    width: 100%;
}

.mvt-button:focus {
    box-shadow: var(--mt-component-button-focus-shadow);
}

.mvt-button-inline {
    display: inline-block;
    width: auto;
}

/*************************
 *** Component: Header ***
 *************************/

.mvt-header {
    border-bottom: 2px solid var(--mt-component-header-border-color);
    height: var(--mt-component-header-height);
    padding: 0.975rem 0;
}

@media only screen and (min-width: 960px) {
    .mvt-header {
        padding: 2.225rem 0;
    }
}

.mvt-header .mvt-svg {
    color: var(--mt-component-header-logo-color);
    height: 1.8rem;
}
