/************************************
 *** "Global" (within .mvt) rules ***
 ************************************/

.mvt *,
.mvt ::before,
.mvt ::after {
    box-sizing: border-box;
}

.mvt {
    font-family: var(--mt-font-family-main), system-ui, sans-serif;
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: var(--mt-typography-base-font-size);
    box-sizing: border-box;
}

.mvt body,
body.mvt {
    background: var(--mt-color-background-default);
    margin: 0;
}

/************************
 *** Basic typography ***
 ************************/

.mvt-h1,
.mvt-text h1 {
    font-size: var(--mt-typography-heading-l-font-size);
    font-weight: var(--mt-typography-heading-l-font-weight);
    line-height: var(--mt-typography-heading-l-line-height);
}

.mvt-h2,
.mvt-text h2 {
    font-size: var(--mt-typography-heading-m-font-size);
    font-weight: var(--mt-typography-heading-m-font-weight);
    line-height: var(--mt-typography-heading-m-line-height);
}

.mvt-h3,
.mvt-text h3 {
    font-size: var(--mt-typography-heading-s-font-size);
    font-weight: var(--mt-typography-heading-s-font-weight);
    line-height: var(--mt-typography-heading-s-line-height);
}

.mvt-h4,
.mvt-text h4,
.mvt-h5,
.mvt-h6,
.mvt-text h5,
.mvt-text h6 {
    font-size: var(--mt-typography-heading-xs-font-size);
    font-weight: var(--mt-typography-heading-xs-font-weight);
    line-height: var(--mt-typography-heading-xs-line-height);
}

.mvt-text h1,
.mvt-text h2,
.mvt-text h3,
.mvt-text h4,
.mvt-text h5,
.mvt-text h6,
.mvt-text p,
.mvt-text ul,
.mvt-text ol,
.mvt-h1,
.mvt-h2,
.mvt-h3,
.mvt-h4,
.mvt-h5,
.mvt-h6,
.mvt-p,
.mvt-ul,
.mvt-ol {
    margin: var(--mt-typography-vertical-spacing-normal) 0;
    padding: 0;
}

.mvt-p,
.mvt-text,
.mvt-ul,
.mvt-ol {
    font-size: var(--mt-typography-paragraph-long-m-font-size);
    font-weight: var(--mt-typography-paragraph-long-m-font-weight);
    line-height: var(--mt-typography-paragraph-long-m-line-height);
}

.mvt-text ul li,
.mvt-ul li,
.mvt-text ol li,
.mvt-ol li {
    padding: 0;
    margin: var(--mt-typography-vertical-spacing-tight) 0;
}

.mvt-text ul li,
.mvt-ul li {
    margin-left: 1.25rem;
}

.mvt-text ol li,
.mvt-ol li {
    margin-left: 1.75rem;
}

.mvt-text a:link,
.mvt-text a:visited,
.mvt-link {
    color: var(--mt-color-text-action-default);
    text-decoration: var(--mt-typography-decoration-action-default);
}

.mvt-text a:hover,
.mvt-link:hover {
    color: var(--mt-color-border-action-active);
    text-decoration: var(--mt-typography-decoration-action-active);
}

.mvt-tac {
    text-align: center;
}

.mvt-nbr {
    white-space: nowrap;
}

.mvt-preamble {
    font-size: var(--mt-typography-preamble-m-font-size);
    font-weight: var(--mt-typography-preamble-m-font-weight);
    line-height: var(--mt-typography-preamble-m-line-height);
}

.mvt-preamble-s {
    font-size: var(--mt-typography-preamble-s-font-size);
    font-weight: var(--mt-typography-preamble-s-font-weight);
    line-height: var(--mt-typography-preamble-s-line-height);
}

/**************
 *** Images ***
 **************/

.mvt-img {
    max-width: 100%;
}

/************************
 *** Responsive sizes ***
 ************************/

.mvt {
    --mt-grid-gutter: var(--mt-grid-mobile-gutter);
    --mt-grid-width: var(--mt-grid-mobile-width);
    --mt-grid-column-width: var(--mt-grid-mobile-column-width);
}

@media only screen and (min-width: 960px) {
    .mvt {
        --mt-grid-gutter: var(--mt-grid-desktop-gutter);
        --mt-grid-width: var(--mt-grid-desktop-width);
        --mt-grid-column-width: var(--mt-grid-desktop-column-width);
    }
}

/***************
 *** Layouts ***
 ***************/

/* Container */
.mvt-container {
    max-width: var(--mt-grid-width);
    margin: 0 auto;
}
