/* The Mattilsynet 2023 theme */

/* Alle farger er akkurat nå kopiert over fra 90s-theme */

.mt2023 {
    --mt-cool-grey-100: #F7F7F8;
    --mt-cool-grey-200: #EEEFF1;
    --mt-cool-grey-300: #E0E2E6;
    --mt-cool-grey-400: #B6BCC3;
    --mt-cool-grey-500: #818A98;
    --mt-cool-grey-600: #5C6470;
    --mt-cool-grey-700: #3E444C;
    --mt-cool-grey-800: #22262A;
    --mt-cool-grey-900: #121416;
    --mt-warm-grey-100: #F8F7F7;
    --mt-warm-grey-200: #F1EFEE;
    --mt-warm-grey-300: #E6E2E0;
    --mt-warm-grey-400: #C3BAB6;
    --mt-warm-grey-500: #988781;
    --mt-warm-grey-600: #70625C;
    --mt-warm-grey-700: #4C423E;
    --mt-warm-grey-800: #2A2522;
    --mt-warm-grey-900: #161412;
    --mt-grey-100: #F7F7F7;
    --mt-grey-200: #F0F0F0;
    --mt-grey-300: #E3E3E3;
    --mt-grey-400: #BDBDBD;
    --mt-grey-500: #8C8C8C;
    --mt-grey-600: #666666;
    --mt-grey-700: #454545;
    --mt-grey-800: #262626;
    --mt-grey-900: #141414;
    --mt-brown-100: #FBF6F4;
    --mt-brown-200: #F6EDE9;
    --mt-brown-300: #EFDED7;
    --mt-brown-400: #D7B2A2;
    --mt-brown-500: #BA795F;
    --mt-brown-600: #8E553E;
    --mt-brown-700: #60392A;
    --mt-brown-800: #8C8C8C;
    --mt-brown-900: #1C110C;
    --mt-red-100: #FFF3F0;
    --mt-red-200: #FFE7E2;
    --mt-red-300: #F6D7D0;
    --mt-red-400: #EAA090;
    --mt-red-500: #DA5A3E;
    --mt-red-600: #AB3921;
    --mt-red-700: #742616;
    --mt-red-800: #40150C;
    --mt-red-900: #220B07;
    --mt-yellow-100: #FEF9F0;
    --mt-yellow-200: #FEF4E2;
    --mt-yellow-300: #FDEBC9;
    --mt-yellow-400: #F6D683;
    --mt-yellow-500: #F5AD23;
    --mt-yellow-600: #C38309;
    --mt-yellow-700: #845906;
    --mt-yellow-800: #493103;
    --mt-yellow-900: #231906;
    --mt-green-100: #F8FAF5;
    --mt-green-200: #F0F4EB;
    --mt-green-300: #E4ECDA;
    --mt-green-400: #BFD1A9;
    --mt-green-500: #91B068;
    --mt-green-600: #6A8646;
    --mt-green-700: #485A30;
    --mt-green-800: #28321A;
    --mt-green-900: #151B0E;
    --mt-mint-100: #F5FAF8;
    --mt-mint-200: #EBF4F1;
    --mt-mint-300: #DAECE5;
    --mt-mint-400: #9DDDC5;
    --mt-mint-500: #68B096;
    --mt-mint-600: #46866F;
    --mt-mint-700: #2F5A4B;
    --mt-mint-800: #1A322A;
    --mt-mint-900: #0E1B16;
    --mt-mt-100: #F1FDFE;
    --mt-mt-200: #E2FBFD;
    --mt-mt-300: #CBF8FB;
    --mt-mt-400: #84EFF6;
    --mt-mt-500: #28E3F0;
    --mt-mt-600: #0DAEBA;
    --mt-mt-700: #08676E;
    --mt-mt-800: #054449;
    --mt-mt-900: #032426;
    --mt-blue-100: #F2F6FD;
    --mt-blue-200: #E4EEFB;
    --mt-blue-300: #CFE0F7;
    --mt-blue-400: #8EB5EC;
    --mt-blue-500: #3B7EDE;
    --mt-blue-600: #1E59AE;
    --mt-blue-700: #143C76;
    --mt-blue-800: #0B2141;
    --mt-blue-900: #061223;

    --mt-font-family-main: avenir;

    --mt-font-weight-light: 300;
    --mt-font-weight-normal: 400;
    --mt-font-weight-bold: 700;

    --mt-font-line-height-minimal: 1;
    --mt-font-line-height-tight: 1.2;
    --mt-font-line-height-normal: 1.5;

    --mt-color-background-default: #f9f6f1;
    --mt-color-surface-default: #ffffff;
    --mt-color-surface-subtle: #f9f6f1;
    --mt-color-surface-action-default: #075b7a;
    --mt-color-surface-action-hover: #3f3e3e;
    --mt-color-surface-success-subtle: #dfe9cb;
    --mt-color-surface-success-default: #b0c87c;
    --mt-color-surface-info-subtle: #d6e8ed;
    --mt-color-surface-info-default: #075b7a;
    --mt-color-surface-warning-subtle: #fae4b6;
    --mt-color-surface-warning-default: #efa60b;
    --mt-color-surface-danger-subtle: #f9d6d4;
    --mt-color-surface-danger-default: #a41d16;
    --mt-color-surface-danger-no-fill: #ffffff;
    --mt-color-surface-danger-no-fill-hover: #f9d6d4;
    --mt-color-text-neutral-default: #3f3e3e;
    --mt-color-text-neutral-on-inverted: #ffffff;
    --mt-color-text-action-default: #075b7a;
    --mt-color-text-danger-default: #3f3e3e;
    --mt-color-text-success-default: #3f3e3e;
    --mt-color-text-status-warning: #3f3e3e;
    --mt-color-border-action-default: #348ba3;
    --mt-color-border-action-active: #075b7a;
    --mt-color-border-neutral-default: #afab89800;
    --mt-color-border-info-default: #3f3e3e;
    --mt-color-border-success-default: #b0c87c;
    --mt-color-border-danger-default: #a41d16;
    --mt-color-border-warning-default: #efa60b;
    --mt-color-border-on-inverted-default: #ffffff;
    --mt-color-border-on-inverted-hover: #ffffff;
    --mt-color-border-on-inverted-active: #afab89800;
    --mt-color-border-input-default: #afab89800;
    --mt-color-border-input-hover: #075b7a;
    --mt-color-border-input-active: #348ba3;
    --mt-color-icon: #3f3e3e;
    --mt-color-icon-primary: var(--mt-color-blue-900); 
    --mt-color-icon-primary-inverted: #ffffff;
    --mt-color-icon-status-danger: #a41d16;
    --mt-color-border-status-success: #b0c87c;
    --mt-color-border-status-warning: #efa60b;
    --mt-color-border-status-info: #075b7a;

    --mt-typography-small-font-size: 16px;
    --mt-typography-base-font-size: 18px;
    --mt-typography-heading-top-spacing: var(--mt-spacing-x1);

    --mt-typograhy-heading-xxs-font-weight: var(--mt-font-weight-bold);
    --mt-typography-heading-xxs-font-size: 1rem;
    --mt-typography-heading-xxs-line-height: var(--mt-font-line-height-tight);

    --mt-typography-heading-xs-font-size: 1.125rem;
    --mt-typography-heading-xs-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-xs-font-weight: var(--mt-font-weight-bold);

    --mt-typography-heading-s-font-size: 1.25rem;
    --mt-typography-heading-s-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-heading-m-font-size: 1.75rem;
    --mt-typography-heading-m-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-heading-l-font-size: 2.5rem;
    --mt-typography-heading-l-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-l-font-weight: var(--mt-font-weight-light);

    --mt-typography-preamble-s-font-size: 1.5rem;
    --mt-typography-preamble-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-preamble-m-font-size: 1.4rem;
    --mt-typography-preamble-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-paragraph-long-s-font-size: 1rem;
    --mt-typography-paragraph-long-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-paragraph-long-m-font-size: 1.125rem;
    --mt-typography-paragraph-long-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-m-font-weight: var(--mt-font-weight-normal);

    --mt-typography-label-l-font-size: 1.5rem;
    --mt-typography-label-l-line-height: var(--mt-font-line-height-normal);
    --mt-typography-label-l-font-weight: var(--mt-font-weight-normal);

    /* Ønsker fra utviklerne */
    --mt-layout-vertical-spacing-tight: var(--mt-spacing-x0_25);
    --mt-layout-vertical-spacing-medium: var(--mt-spacing-x1);
    --mt-layout-vertical-spacing-normal: var(--mt-spacing-x1_4);
    --mt-layout-vertical-spacing-airy: var(--mt-spacing-x2);
    --mt-layout-vertical-spacing-spacey: var(--mt-spacing-x3_6);
    --mt-typography-decoration-action-default: none;
    --mt-typography-decoration-action-active: underline;

    --mt-breakpoint-xs-lower: 0px;
    --mt-breakpoint-xs-upper: 599px;
    --mt-breakpoint-s-lower: 600px;
    --mt-breakpoint-s-upper: 959px;
    --mt-breakpoint-m-lower: 960px;
    --mt-breakpoint-m-upper: 1280px;
    --mt-breakpoint-xl-lower: 1280px;
    --mt-breakpoint-xl-upper: 9999999px;

    --mt-grid-desktop-margin: 60px;
    --mt-grid-desktop-padding: 24px;
    --mt-grid-desktop-gutter: 24px;
    --mt-grid-desktop-width: calc(1440px - var(--mt-grid-desktop-margin) - var(--mt-grid-desktop-margin) + var(--mt-grid-desktop-padding) + var(--mt-grid-desktop-padding));
    --mt-grid-desktop-column-width: 88px;

    --mt-grid-mobile-margin: 16px;
    --mt-grid-mobile-padding: 0;
    --mt-grid-mobile-gutter: 16px;
    --mt-grid-mobile-width: 320px;
    --mt-grid-mobile-column-width: 40px;

    --mt-spacing-x0_25: 4px; /* 5px; */
    --mt-spacing-x0_5: 8px; /* 10px; */
    --mt-spacing-x1: 16px; /* 20px; */
    --mt-spacing-x1_4: 24px; /* 28px; */
    --mt-spacing-x2: 40px;
    --mt-spacing-x2_8: 56px;
    --mt-spacing-x3_6: 72px;
    --mt-spacing-x4_4: 88px;
    --mt-spacing-x6: 120px;

    --mt-spacing-box-padding-s: var(--mt-spacing-x0_5);
    --mt-spacing-box-padding-m: var(--mt-spacing-x1_4);
    --mt-spacing-box-padding-l: var(--mt-spacing-x2);

    --mt-border-width-s: 1px;
    --mt-border-width-m: 2px;
    --mt-border-width-xm: 3px;
    --mt-border-width-l: 4px;
    --mt-border-radius-sharp: 0px;
    --mt-border-radius-s: 4px;
    --mt-border-radius-m: 5px;
    --mt-border-radius-circle: 50%;

    --mt-focusable-shadow: 0 0 0 2px #f9f6f1, 0 0 0 0.35rem #348ba3;

    --mt-horizontal-gap: var(--mt-spacing-x1);
    --mt-column-gap: var(--mt-spacing-x1);
    --mt-column-gap-wide: var(--mt-spacing-x1_4);
    --mt-column-gap-huge: var(--mt-spacing-x3_6);

    /* Components and layouts (should possibly end up in separate files) */
    --mt-layout-container-width: var(--mt-grid-desktop-width);
    --mt-layout-container-focused-width: 1096px;
    --mt-layout-container-medium-width: 800px;
    --mt-layout-container-narrow-width: 600px;
    --mt-layout-container-gutter: var(--mt-grid-desktop-padding);

    --mt-layout-section-spacing: var(--mt-layout-vertical-spacing-airy);
    --mt-layout-section-spacing-spacey: var(--mt-layout-vertical-spacing-spacey);

    --mt-component-ac-background: var(--mt-component-form-field-background);
    --mt-component-ac-border-color: var(--mt-component-form-field-border);
    --mt-component-ac-active-background: #d6e8ed;

    --mt-component-banner-media-buttons-padding: var(--mt-spacing-x2);

    --mt-component-breadcrumb-font-size: var(--mt-typography-small-font-size);
    --mt-component-breadcrumb-horizontal-spacing: var(--mt-spacing-x0_5);

    --mt-component-button-background: var(--mt-color-surface-action-default);
    --mt-component-button-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-disabled-background: #348ba3;
    --mt-component-button-disabled-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-font-size: 1.125rem;
    --mt-component-button-border-radius: 0.25em;

    --mt-component-button-secondary-background: "transparent";
    --mt-component-button-secondary-color: var(--mt-color-surface-action-default);
    --mt-component-button-secondary-border: var(--mt-color-surface-action-default);

    --mt-component-checkbox-inactive-bg: #ffffff;
    --mt-component-checkbox-inactive-color: #afab89800;
    --mt-component-checkbox-active-color: #075b7a;

    --mt-component-divider-border-color: #afab89800;
    --mt-component-divider-padding: var(--mt-spacing-x1_4);

    --mt-component-drawer-background: #ffffff;
    --mt-component-drawer-border-color: #e23128;

    --mt-component-form-field-border: #afab89800;
    --mt-component-form-field-background: #ffffff;
    --mt-component-form-field-padding-h: 0.75em;
    --mt-component-form-field-padding-v: 0.75em;

    --mt-component-form-select-size: 0.9em;

    --mt-component-footer-border-color: #e23128;
    --mt-component-footer-gap: var(--mt-spacing-x1_4);

    --mt-component-footnote-border-color: #f1eadf;

    --mt-component-header-border-color: #e23128;
    --mt-component-header-logo-color: #e23128;
    --mt-component-header-background-color: #ffffff;

    --mt-component-hover-popup-padding: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-radius: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-bg: var(--mt-color-surface-default);
    --mt-component-hover-popup-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --mt-component-icon-button-padding: 8px;
    --mt-component-icon-button-size-small: 32px;
    --mt-component-icon-button-size-medium: 48px;
    --mt-component-icon-button-border-radius: var(--mt-border-radius-s);
    --mt-component-icon-button-active-color: #075b7a;
    --mt-component-icon-button-active-background: #d6e8ed;

    --mt-component-list-nested-margin-top: 0.25em;
    --mt-component-list-nested-margin-bottom: 0.5em;
    --mt-component-list-ul-margin-left: 1.25rem;

    --mt-component-pill-background: #f1eadf;
    --mt-component-pill-padding: var(--mt-spacing-x0_5) var(--mt-spacing-x1);
    --mt-component-pill-icon-gap: var(--mt-spacing-x0_5);

    --mt-component-table-background-zebra: #ffffff;
    --mt-component-table-background-hover: #f1eadf;
    --mt-component-table-background-highlight: #d6e8ed;
    --mt-component-table-cell-padding: var(--mt-spacing-x1_4);
    --mt-component-table-cell-border-color: #afab8980;
    --mt-component-table-thead-background: #f1eadf;
    --mt-component-table-thead-th-font-size: 18px;
    --mt-component-table-thead-th-font-weight: var(--mt-font-weight-bold);
    --mt-component-table-tbody-th-font-size: var(--mt-typography-small-font-size);
    --mt-component-table-tbody-th-font-weight: var(--mt-font-weight-normal);

    --mt-component-toc-icon-color: #348ba3;
    --mt-component-toc-border-color: #afab89800;

    --mt-component-legend-color-outline: #3f3e3e;
}

@media only screen and (min-width: 768px) {
    .mt2023 {
        --mt-typography-small-font-size: 16px;
        --mt-typography-base-font-size: 21.5px;
        --mt-column-gap: var(--mt-spacing-x1_4);
        --mt-column-gap-wide: var(--mt-spacing-x2);
    }
}

/* Brand themes */

.mt2023, /* Default theme */
.mt2023 .mmm-brand-theme1 {
    --mt-brand-theme-bg: #f1eadf;
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #d6e8ed;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-action-default);
}

.mt2023 .mmm-brand-theme2 {
    --mt-brand-theme-bg: #d6e8ed;
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #075b7a;
    --mt-brand-theme-secondary-color: #ffffff;
    --mt-brand-theme-secondary-action-color: #ffffff;
}

.mt2023 .mmm-brand-theme3 {
    --mt-brand-theme-bg: #dfe9cb;
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #b0c87c;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-neutral-default);
}

.mmm .mmm-theme-toggled {display: none;}
.mmm.mt2023 .show-for-mt2023, /* Help Portfolio theme switcher out */
.mmm .mt2023 .show-for-mt2023 {display: block;}

@font-face {
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    src: local('Avenir'), url(https://fonts.cdnfonts.com/s/71748/avenir_roman_12.woff) format('woff');
}
