/* The Mattilsynet 2023 theme */

/* Alle farger er akkurat nå kopiert over fra 90s-theme */

.mt2023 {
    --mt-font-family-main: avenir;

    --mt-gaasunge: #faf6f3;
    --mt-granskog: #054449;
    --mt-lys-furu: #9bcab9;
    --mt-lav: #e2f1df;
    --mt-bekk: #cde5f2;
    --mt-nype: #f9c4aa;
    --mt-lys-furu: #9bcab9;
    --mt-blå-himmel: #9ecced;

    --mt-color-fat: var(--mt-lys-furu);
    --mt-color-carbs: var(--mt-granskog);
    --mt-color-protein: var(--mt-nype);
    --mt-color-water: var(--mt-blå-himmel);
    --mt-color-fiber: var(--mt-bekk);
    --mt-color-alco: var(--mt-lav);

    --mt-font-weight-light: 400;
    --mt-font-weight-normal: 400;
    --mt-font-weight-bold: 600;

    --mt-font-line-height-minimal: 1;
    --mt-font-line-height-tight: 1.2;
    --mt-font-line-height-normal: 1.5;

    --mt-color-background-default: var(--mt-gaasunge);
    --mt-color-surface-default: #ffffff;
    --mt-color-surface-action-default: var(--mt-granskog);
    --mt-color-text-neutral-default: var(--mt-granskog);
    --mt-color-text-neutral-on-inverted: #ffffff;
    --mt-color-text-action-default: var(--mt-granskog);
    --mt-color-border-action-active: var(--mt-granskog);
    --mt-color-illustration-fill: var(--mt-granskog);

    --mt-typography-small-font-size: 16px;
    --mt-typography-base-font-size: 18px;
    --mt-typography-heading-top-spacing: var(--mt-spacing-x1);

    --mt-typograhy-heading-xxs-font-weight: var(--mt-font-weight-bold);
    --mt-typography-heading-xxs-font-size: 1rem;
    --mt-typography-heading-xxs-line-height: var(--mt-font-line-height-normal);

    --mt-typography-heading-xs-font-size: 1.125rem;
    --mt-typography-heading-xs-line-height: var(--mt-font-line-height-normal);
    --mt-typography-heading-xs-font-weight: var(--mt-font-weight-bold);

    --mt-typography-heading-s-font-size: 1.25rem;
    --mt-typography-heading-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-heading-s-font-weight: var(--mt-font-weight-bold);

    --mt-typography-heading-m-font-size: 1.75rem;
    --mt-typography-heading-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-heading-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-heading-l-font-size: 2.5rem;
    --mt-typography-heading-l-line-height: var(--mt-font-line-height-normal);
    --mt-typography-heading-l-font-weight: var(--mt-font-weight-light);

    --mt-typography-preamble-s-font-size: 1.5rem;
    --mt-typography-preamble-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-preamble-m-font-size: 1.4rem;
    --mt-typography-preamble-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-paragraph-long-s-font-size: 1rem;
    --mt-typography-paragraph-long-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-paragraph-long-m-font-size: 1.125rem;
    --mt-typography-paragraph-long-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-m-font-weight: var(--mt-font-weight-normal);

    --mt-typography-label-l-font-size: 1.5rem;
    --mt-typography-label-l-line-height: var(--mt-font-line-height-normal);
    --mt-typography-label-l-font-weight: var(--mt-font-weight-normal);

    /* Ønsker fra utviklerne */
    --mt-layout-vertical-spacing-tight: var(--mt-spacing-x0_25);
    --mt-layout-vertical-spacing-medium: var(--mt-spacing-x1);
    --mt-layout-vertical-spacing-normal: var(--mt-spacing-x1_4);
    --mt-layout-vertical-spacing-airy: var(--mt-spacing-x2);
    --mt-layout-vertical-spacing-spacey: var(--mt-spacing-x3_6);
    --mt-typography-decoration-action-default: none;
    --mt-typography-decoration-action-active: underline;
    --mt-typography-decoration-action-thickness: 1px;
    --mt-typography-decoration-action-active-thickness: 2px;

    --mt-breakpoint-xs-lower: 0px;
    --mt-breakpoint-xs-upper: 599px;
    --mt-breakpoint-s-lower: 600px;
    --mt-breakpoint-s-upper: 959px;
    --mt-breakpoint-m-lower: 960px;
    --mt-breakpoint-m-upper: 1280px;
    --mt-breakpoint-xl-lower: 1280px;
    --mt-breakpoint-xl-upper: 9999999px;

    --mt-grid-desktop-margin: 60px;
    --mt-grid-desktop-padding: 24px;
    --mt-grid-desktop-gutter: 24px;
    --mt-grid-desktop-width: calc(1440px - var(--mt-grid-desktop-margin) - var(--mt-grid-desktop-margin) + var(--mt-grid-desktop-padding) + var(--mt-grid-desktop-padding));
    --mt-grid-desktop-column-width: 88px;

    --mt-grid-mobile-margin: 16px;
    --mt-grid-mobile-padding: 0;
    --mt-grid-mobile-gutter: 16px;
    --mt-grid-mobile-width: 320px;
    --mt-grid-mobile-column-width: 40px;

    --mt-spacing-x0_25: 4px; /* 5px; */
    --mt-spacing-x0_5: 8px; /* 10px; */
    --mt-spacing-x1: 16px; /* 20px; */
    --mt-spacing-x1_4: 24px; /* 28px; */
    --mt-spacing-x2: 40px;
    --mt-spacing-x2_8: 56px;
    --mt-spacing-x3_6: 72px;
    --mt-spacing-x4_4: 88px;
    --mt-spacing-x6: 120px;

    --mt-spacing-box-padding-s: var(--mt-spacing-x0_5);
    --mt-spacing-box-padding-m: var(--mt-spacing-x1_4);
    --mt-spacing-box-padding-l: var(--mt-spacing-x2);

    --mt-border-width-s: 1px;
    --mt-border-width-m: 2px;
    --mt-border-width-xm: 3px;
    --mt-border-width-l: 4px;
    --mt-border-radius-sharp: 0px;
    --mt-border-radius-s: 4px;
    --mt-border-radius-m: 5px;
    --mt-border-radius-circle: 50%;

    --mt-focusable-shadow: 0 0 0 2px #f9f6f1, 0 0 0 0.35rem var(--mt-granskog);

    --mt-horizontal-gap: var(--mt-spacing-x1);
    --mt-column-gap: var(--mt-spacing-x1);
    --mt-column-gap-wide: var(--mt-spacing-x1_4);
    --mt-column-gap-huge: var(--mt-spacing-x3_6);

    /* Components and layouts (should possibly end up in separate files) */
    --mt-layout-container-width: var(--mt-grid-desktop-width);
    --mt-layout-container-focused-width: 1096px;
    --mt-layout-container-medium-width: 800px;
    --mt-layout-container-narrow-width: 600px;
    --mt-layout-container-gutter: var(--mt-grid-desktop-padding);

    --mt-layout-section-spacing: var(--mt-layout-vertical-spacing-airy);
    --mt-layout-section-spacing-spacey: var(--mt-layout-vertical-spacing-spacey);

    --mt-component-ac-background: var(--mt-component-form-field-background);
    --mt-component-ac-border-color: var(--mt-component-form-field-border);
    --mt-component-ac-active-background: var(--mt-lav);
    --mt-component-ac-result-font-size: 0.9em;
    --mt-component-ac-result-padding-h: 0.75em;
    --mt-component-ac-result-padding-v: 0.5em;

    --mt-component-banner-media-buttons-button-border-radius: 8px;
    --mt-component-banner-media-buttons-container-border-radius: 8px;
    --mt-component-banner-media-buttons-padding: var(--mt-spacing-x2);

    --mt-component-breadcrumb-font-size: var(--mt-typography-small-font-size);
    --mt-component-breadcrumb-horizontal-spacing: var(--mt-spacing-x0_5);

    --mt-component-button-background: var(--mt-color-surface-action-default);
    --mt-component-button-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-disabled-background: rgba(5, 68, 73, 0.10);
    --mt-component-button-disabled-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-font-size: 1.125rem;
    --mt-component-button-border-radius: 0.25em;

    --mt-component-button-secondary-background: "transparent";
    --mt-component-button-secondary-color: var(--mt-color-surface-action-default);
    --mt-component-button-secondary-border: var(--mt-color-surface-action-default);

    --mt-component-card-border-radius: 8px;
    --mt-component-card-border: 1px solid rgba(5, 68, 73, 0.10);

    --mt-component-checkbox-inactive-bg: #ffffff;
    --mt-component-checkbox-inactive-color: #afab89800;
    --mt-component-checkbox-active-color: var(--mt-granskog);
    --mt-component-checkbox-border-color: var(--mt-granskog);
    --mt-component-checkbox-size: 24px;
    --mt-component-checkbox-size-s: 16px;

    --mt-component-divider-border-color: #afab89800;
    --mt-component-divider-padding: var(--mt-spacing-x1_4);

    --mt-component-drawer-background: #ffffff;
    --mt-component-drawer-border-color: var(--mt-granskog);

    --mt-component-fadeout-background-from: #e2f1dfff;
    --mt-component-fadeout-background-to: #e2f1df00;

    --mt-component-form-field-border: var(--mt-granskog);
    --mt-component-form-field-background: #ffffff;
    --mt-component-form-field-padding-h: 0.75em;
    --mt-component-form-field-padding-v: 0.75em;

    --mt-component-form-select-size: 0.9em;

    --mt-component-footer-border-color: transparent;
    --mt-component-footer-gap: var(--mt-spacing-x2);

    --mt-component-footnote-border-color: #f1eadf;

    --mt-component-header-border-color: transparent;
    --mt-component-header-logo-color: var(--mt-granskog);
    --mt-component-header-background-color: #ffffff;

    --mt-component-hover-popup-padding: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-radius: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-bg: var(--mt-color-surface-default);
    --mt-component-hover-popup-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --mt-component-icon-button-padding: 8px;
    --mt-component-icon-button-size-small: 32px;
    --mt-component-icon-button-size-medium: 48px;
    --mt-component-icon-button-border-radius: var(--mt-border-radius-s);
    --mt-component-icon-button-active-color: var(--mt-granskog);
    --mt-component-icon-button-active-background: var(--mt-lav);

    --mt-component-list-nested-margin-top: 0.25em;
    --mt-component-list-nested-margin-bottom: 0.5em;
    --mt-component-list-ul-margin-left: 1.25rem;

    --mt-component-pill-background: var(--mt-lav);
    --mt-component-pill-padding: var(--mt-spacing-x0_5) var(--mt-spacing-x1);
    --mt-component-pill-icon-gap: var(--mt-spacing-x0_5);

    --mt-component-table-background: #fdfbf9;
    --mt-component-table-background-zebra: #fdfbf9;
    --mt-component-table-background-hover: #f7f8f5;

    --mt-component-table-background-highlight: #dfeef6;
    --mt-component-table-cell-padding: var(--mt-spacing-x1_4);
    --mt-component-table-cell-border-color: #b0c1c0;
    --mt-component-table-cell-border-h-width: 0;
    --mt-component-table-thead-background: #eef1ea;
    --mt-component-table-thead-border-width: 1px;
    --mt-component-table-thead-th-font-size: 18px;
    --mt-component-table-thead-th-font-weight: var(--mt-font-weight-bold);
    --mt-component-table-tbody-th-font-size: var(--mt-typography-small-font-size);
    --mt-component-table-tbody-th-font-weight: var(--mt-font-weight-normal);

    --mt-component-tabs-bg: var(--mt-granskog);
    --mt-component-tabs-color: #ffffff;
    --mt-component-tabs-selected-bg: #ffffff;
    --mt-component-tabs-selected-color: var(--mt-color-text-neutral-default);

    --mt-component-toc-icon-color: var(--mt-granskog);
    --mt-component-toc-border-color: #afab89800;

    --mt-component-legend-color-outline: #3f3e3e;
}

@media only screen and (min-width: 768px) {
    .mt2023 {
        --mt-typography-small-font-size: 16px;
        --mt-typography-base-font-size: 21.5px;
        --mt-column-gap: var(--mt-spacing-x1_4);
        --mt-column-gap-wide: var(--mt-spacing-x2);
    }
}

/* Brand themes */

.mt2023, /* Default theme */
.mt2023 .mmm-brand-theme1 {
    --mt-brand-theme-bg: var(--mt-lav);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #d6e8ed;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-action-default);
}

.mt2023 .mmm-brand-theme2 {
    --mt-brand-theme-bg: var(--mt-lav);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #ffffff;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-action-default);
}

.mt2023 .mmm-brand-theme3 {
    --mt-brand-theme-bg: var(--mt-color-background-default);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #ffffff;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-action-default);
}

.mt2023 .mmm-brand-theme4 {
    --mt-brand-theme-bg: var(--mt-granskog);
    --mt-brand-theme-color: var(--mt-lav);
    --mt-brand-theme-main-bg: #ffffff;
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: #b0c87c;
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-neutral-default);
    --mt-color-text-action-default: var(--mt-lav);
    --mt-typography-decoration-action-default: underline;
    --mt-color-border-action-active: var(--mt-lav);
    --mt-typography-decoration-action-active: none;
}

.mmm .mmm-theme-toggled {display: none;}
.mmm.mt2023 .show-for-mt2023, /* Help Portfolio theme switcher out */
.mmm .mt2023 .show-for-mt2023 {display: block;}

@font-face {
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    src: local('Avenir'), url(https://fonts.cdnfonts.com/s/71748/avenir_roman_12.woff) format('woff');
}

.mt2023 .mmm-table {
    --mt-color-background-default: var(--mt-component-table-background-zebra);
}

.mmm-banner-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 600;
}

.mmm-banner-title:hover {
    text-decoration-thickness: 2px;
}

.mmm-media {
    --mt-typography-decoration-action-default: underline;
    --mt-typography-decoration-action-active: underline;
    --mt-typography-decoration-action-thickness: 1px;
    --mt-typography-decoration-action-active-thickness: 2px;
}
