/* The Mattilsynet 90s theme */
.mt90s {
    --mt-color-red-100: #f9d6d4;
    --mt-color-red-200: #e23128;
    --mt-color-red-500: #a41d16;
    --mt-color-beige-50: #afab8980; /* ? */
    --mt-color-beige-100: #f9f6f1;
    --mt-color-beige-200: #f1eadf;
    --mt-color-beige-500: #afab89;
    --mt-color-brown-900: #3f3e3e;
    --mt-color-blue-100: #d6e8ed;
    --mt-color-blue-200: #348ba3;
    --mt-color-blue-500: #075b7a;
    --mt-color-green-100: #dfe9cb;
    --mt-color-green-500: #b0c87c;
    --mt-color-orange-100: #fae4b6;
    --mt-color-orange-500: #efa60b;
    --mt-color-white: #ffffff;

    --mt-color-fat: #cfe5f3;
    --mt-color-carbs: #a8d7f4;
    --mt-color-protein: #71abd0;
    --mt-color-water: #2a5473;
    --mt-color-fiber: var(--mt-color-green-100);
    --mt-color-alco: var(--mt-color-green-500);

    --mt-font-family-main: Helvetica;

    --mt-font-weight-light: 300;
    --mt-font-weight-normal: 400;
    --mt-font-weight-bold: 700;

    --mt-font-line-height-minimal: 1;
    --mt-font-line-height-tight: 1.2;
    --mt-font-line-height-normal: 1.5;

    --mt-color-background-default: var(--mt-color-beige-100);
    --mt-color-surface-default: var(--mt-color-white);
    --mt-color-surface-subtle: var(--mt-color-beige-100);
    --mt-color-surface-action-default: var(--mt-color-blue-500);
    --mt-color-surface-action-hover: var(--mt-color-brown-900);
    --mt-color-surface-success-subtle: var(--mt-color-green-100);
    --mt-color-surface-success-default: var(--mt-color-green-500);
    --mt-color-surface-info-subtle: var(--mt-color-blue-100);
    --mt-color-surface-info-default: var(--mt-color-blue-500);
    --mt-color-surface-warning-subtle: var(--mt-color-orange-100);
    --mt-color-surface-warning-default: var(--mt-color-orange-500);
    --mt-color-surface-danger-subtle: var(--mt-color-red-100);
    --mt-color-surface-danger-default: var(--mt-color-red-500);
    --mt-color-surface-danger-no-fill: var(--mt-color-white);
    --mt-color-surface-danger-no-fill-hover: var(--mt-color-red-100);
    --mt-color-text-neutral-default: var(--mt-color-brown-900);
    --mt-color-text-neutral-on-inverted: var(--mt-color-white);
    --mt-color-text-action-default: var(--mt-color-blue-500);
    --mt-color-text-danger-default: var(--mt-color-brown-900);
    --mt-color-text-success-default: var(--mt-color-brown-900);
    --mt-color-text-status-warning: var(--mt-color-brown-900);
    --mt-color-border-action-default: var(--mt-color-blue-200);
    --mt-color-border-action-active: var(--mt-color-blue-500);
    --mt-color-border-neutral-default: var(--mt-color-beige-500);
    --mt-color-border-info-default: var(--mt-color-brown-900);
    --mt-color-border-success-default: var(--mt-color-green-500);
    --mt-color-border-danger-default: var(--mt-color-red-500);
    --mt-color-border-warning-default: var(--mt-color-orange-500);
    --mt-color-border-on-inverted-default: var(--mt-color-white);
    --mt-color-border-on-inverted-hover: var(--mt-color-white);
    --mt-color-border-on-inverted-active: var(--mt-color-beige-500);
    --mt-color-border-input-default: var(--mt-color-beige-500);
    --mt-color-border-input-hover: var(--mt-color-blue-500);
    --mt-color-border-input-active: var(--mt-color-blue-200);
    --mt-color-icon: var(--mt-color-brown-900);
    --mt-color-icon-primary: var(--mt-color-blue-900);
    --mt-color-icon-primary-inverted: var(--mt-color-white);
    --mt-color-icon-status-danger: var(--mt-color-red-500);
    --mt-color-border-status-success: var(--mt-color-green-500);
    --mt-color-border-status-warning: var(--mt-color-orange-500);
    --mt-color-border-status-info: var(--mt-color-blue-500);

    --mt-typography-small-font-size: 16px;
    --mt-typography-base-font-size: 18px;
    --mt-typography-heading-top-spacing: var(--mt-spacing-x1);

    --mt-typography-heading-xxs-font-weight: var(--mt-font-weight-bold);
    --mt-typography-heading-xxs-font-size: 1rem;
    --mt-typography-heading-xxs-line-height: var(--mt-font-line-height-tight);

    --mt-typography-heading-xs-font-size: 1.125rem;
    --mt-typography-heading-xs-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-xs-font-weight: var(--mt-font-weight-bold);

    --mt-typography-heading-s-font-size: 1.25rem;
    --mt-typography-heading-s-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-heading-m-font-size: 1.75rem;
    --mt-typography-heading-m-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-heading-l-font-size: 2.5rem;
    --mt-typography-heading-l-line-height: var(--mt-font-line-height-tight);
    --mt-typography-heading-l-font-weight: var(--mt-font-weight-light);

    --mt-typography-preamble-s-font-size: 1.5rem;
    --mt-typography-preamble-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-preamble-m-font-size: 1.4rem;
    --mt-typography-preamble-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-preamble-m-font-weight: var(--mt-font-weight-light);

    --mt-typography-paragraph-long-s-font-size: 1rem;
    --mt-typography-paragraph-long-s-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-s-font-weight: var(--mt-font-weight-normal);

    --mt-typography-paragraph-long-m-font-size: 1.125rem;
    --mt-typography-paragraph-long-m-line-height: var(--mt-font-line-height-normal);
    --mt-typography-paragraph-long-m-font-weight: var(--mt-font-weight-normal);

    --mt-typography-label-l-font-size: 1.5rem;
    --mt-typography-label-l-line-height: var(--mt-font-line-height-normal);
    --mt-typography-label-l-font-weight: var(--mt-font-weight-normal);

    /* Ønsker fra utviklerne */
    --mt-layout-vertical-spacing-tight: var(--mt-spacing-x0_25);
    --mt-layout-vertical-spacing-medium: var(--mt-spacing-x1);
    --mt-layout-vertical-spacing-normal: var(--mt-spacing-x1_4);
    --mt-layout-vertical-spacing-airy: var(--mt-spacing-x2);
    --mt-layout-vertical-spacing-spacey: var(--mt-spacing-x3_6);
    --mt-typography-decoration-action-default: none;
    --mt-typography-decoration-action-active: underline;

    --mt-breakpoint-xs-lower: 0px;
    --mt-breakpoint-xs-upper: 599px;
    --mt-breakpoint-s-lower: 600px;
    --mt-breakpoint-s-upper: 959px;
    --mt-breakpoint-m-lower: 960px;
    --mt-breakpoint-m-upper: 1280px;
    --mt-breakpoint-xl-lower: 1280px;
    --mt-breakpoint-xl-upper: 9999999px;

    --mt-grid-desktop-margin: 60px;
    --mt-grid-desktop-padding: 24px;
    --mt-grid-desktop-gutter: 24px;
    --mt-grid-desktop-width: calc(1440px - var(--mt-grid-desktop-margin) - var(--mt-grid-desktop-margin) + var(--mt-grid-desktop-padding) + var(--mt-grid-desktop-padding));
    --mt-grid-desktop-column-width: 88px;

    --mt-grid-mobile-margin: 16px;
    --mt-grid-mobile-padding: 0;
    --mt-grid-mobile-gutter: 16px;
    --mt-grid-mobile-width: 320px;
    --mt-grid-mobile-column-width: 40px;

    --mt-spacing-x0_25: 4px; /* 5px; */
    --mt-spacing-x0_5: 8px; /* 10px; */
    --mt-spacing-x1: 16px; /* 20px; */
    --mt-spacing-x1_4: 24px; /* 28px; */
    --mt-spacing-x2: 40px;
    --mt-spacing-x2_8: 56px;
    --mt-spacing-x3_6: 72px;
    --mt-spacing-x4_4: 88px;
    --mt-spacing-x6: 120px;

    --mt-spacing-box-padding-s: var(--mt-spacing-x0_5);
    --mt-spacing-box-padding-m: var(--mt-spacing-x1_4);
    --mt-spacing-box-padding-l: var(--mt-spacing-x2);

    --mt-border-width-s: 1px;
    --mt-border-width-m: 2px;
    --mt-border-width-xm: 3px;
    --mt-border-width-l: 4px;
    --mt-border-radius-sharp: 0px;
    --mt-border-radius-s: 4px;
    --mt-border-radius-m: 5px;
    --mt-border-radius-circle: 50%;

    --mt-focusable-shadow: 0 0 0 2px var(--mt-color-beige-100), 0 0 0 0.35rem var(--mt-color-blue-200);

    --mt-horizontal-gap: var(--mt-spacing-x1);
    --mt-column-gap: var(--mt-spacing-x1);
    --mt-column-gap-wide: var(--mt-spacing-x1_4);
    --mt-column-gap-huge: var(--mt-spacing-x3_6);

    /* Components and layouts (should possibly end up in separate files) */
    --mt-layout-container-width: var(--mt-grid-desktop-width);
    --mt-layout-container-focused-width: 1096px;
    --mt-layout-container-medium-width: 800px;
    --mt-layout-container-narrow-width: 600px;
    --mt-layout-container-gutter: var(--mt-grid-desktop-padding);

    --mt-layout-section-spacing: var(--mt-layout-vertical-spacing-airy);
    --mt-layout-section-spacing-spacey: var(--mt-layout-vertical-spacing-spacey);

    --mt-component-ac-background: var(--mt-component-form-field-background);
    --mt-component-ac-border-color: var(--mt-component-form-field-border);
    --mt-component-ac-active-background: var(--mt-color-blue-100);

    --mt-component-banner-media-buttons-padding: var(--mt-spacing-x2);

    --mt-component-breadcrumb-font-size: var(--mt-typography-small-font-size);
    --mt-component-breadcrumb-horizontal-spacing: var(--mt-spacing-x0_5);

    --mt-component-button-background: var(--mt-color-surface-action-default);
    --mt-component-button-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-disabled-background: var(--mt-color-blue-200);
    --mt-component-button-disabled-color: var(--mt-color-text-neutral-on-inverted);
    --mt-component-button-font-size: 1.125rem;
    --mt-component-button-border-radius: 0.25em;

    --mt-component-button-secondary-background: "transparent";
    --mt-component-button-secondary-color: var(--mt-color-surface-action-default);
    --mt-component-button-secondary-border: var(--mt-color-surface-action-default);

    --mt-component-checkbox-inactive-bg: var(--mt-color-white);
    --mt-component-checkbox-inactive-color: var(--mt-color-beige-500);
    --mt-component-checkbox-active-color: var(--mt-color-blue-500);
    --mt-component-checkbox-size: 24px;
    --mt-component-checkbox-size-s: 16px;

    --mt-component-divider-border-color: var(--mt-color-beige-500);
    --mt-component-divider-padding: var(--mt-spacing-x1_4);

    --mt-component-drawer-background: var(--mt-color-white);
    --mt-component-drawer-border-color: var(--mt-color-red-200);

    --mt-component-form-field-border: var(--mt-color-beige-500);
    --mt-component-form-field-background: var(--mt-color-white);
    --mt-component-form-field-padding-h: 0.75em;
    --mt-component-form-field-padding-v: 0.75em;

    --mt-component-form-select-size: 0.9em;

    --mt-component-footer-border-color: var(--mt-color-red-200);
    --mt-component-footer-gap: var(--mt-spacing-x1_4);

    --mt-component-footnote-border-color: var(--mt-color-beige-200);

    --mt-component-header-border-color: var(--mt-color-red-200);
    --mt-component-header-logo-color: var(--mt-color-red-200);

    --mt-component-hover-popup-padding: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-radius: var(--mt-spacing-box-padding-s);
    --mt-component-hover-popup-bg: var(--mt-color-surface-default);
    --mt-component-hover-popup-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    --mt-component-icon-button-padding: 8px;
    --mt-component-icon-button-size-small: 32px;
    --mt-component-icon-button-size-medium: 48px;
    --mt-component-icon-button-border-radius: var(--mt-border-radius-s);
    --mt-component-icon-button-active-color: var(--mt-color-blue-500);
    --mt-component-icon-button-active-background: var(--mt-color-blue-100);

    --mt-component-list-nested-margin-top: 0.25em;
    --mt-component-list-nested-margin-bottom: 0.5em;
    --mt-component-list-ul-margin-left: 1.25rem;

    --mt-component-pill-background: var(--mt-color-beige-200);
    --mt-component-pill-padding: var(--mt-spacing-x0_5) var(--mt-spacing-x1);
    --mt-component-pill-icon-gap: var(--mt-spacing-x0_5);

    --mt-component-table-background-zebra: var(--mt-color-white);
    --mt-component-table-background-hover: var(--mt-color-beige-200);
    --mt-component-table-background-highlight: var(--mt-color-blue-100);
    --mt-component-table-cell-padding: var(--mt-spacing-x1_4);
    --mt-component-table-cell-padding-s: var(--mt-spacing-x0_5);
    --mt-component-table-cell-border-color: var(--mt-color-beige-50);
    --mt-component-table-thead-background: var(--mt-color-beige-200);
    --mt-component-table-thead-th-font-size: 18px;
    --mt-component-table-thead-th-font-weight: var(--mt-font-weight-bold);
    --mt-component-table-tbody-th-font-size: var(--mt-typography-small-font-size);
    --mt-component-table-tbody-th-font-weight: var(--mt-font-weight-normal);

    --mt-component-toc-icon-color: var(--mt-color-blue-200);
    --mt-component-toc-border-color: var(--mt-color-beige-500);

    --mt-component-legend-color-outline: var(--mt-color-brown-900);
}

@media only screen and (min-width: 768px) {
    .mt90s {
        --mt-typography-small-font-size: 16px;
        --mt-typography-base-font-size: 21.5px;
        --mt-column-gap: var(--mt-spacing-x1_4);
        --mt-column-gap-wide: var(--mt-spacing-x2);
    }
}

/* Brand themes */

.mt90s, /* Default theme */
.mt90s .mmm-brand-theme1 {
    --mt-brand-theme-bg: var(--mt-color-beige-200);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: var(--mt-color-white);
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: var(--mt-color-blue-100);
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-action-default);
}

.mt90s .mmm-brand-theme2 {
    --mt-brand-theme-bg: var(--mt-color-blue-100);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: var(--mt-color-white);
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: var(--mt-color-blue-500);
    --mt-brand-theme-secondary-color: var(--mt-color-white);
    --mt-brand-theme-secondary-action-color: var(--mt-color-white);
}

.mt90s .mmm-brand-theme3 {
    --mt-brand-theme-bg: var(--mt-color-green-100);
    --mt-brand-theme-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-bg: var(--mt-color-white);
    --mt-brand-theme-main-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-main-action-color: var(--mt-color-text-action-default);
    --mt-brand-theme-secondary-bg: var(--mt-color-green-500);
    --mt-brand-theme-secondary-color: var(--mt-color-text-neutral-default);
    --mt-brand-theme-secondary-action-color: var(--mt-color-text-neutral-default);
}

.mmm .mmm-theme-toggled {display: none;}
.mmm .mt90s .show-for-mt90s, /* Help Portfolio theme switcher out */
.mmm.mt90s .show-for-mt90s {display: block;}
