[#:i18n
 {:lookup [:fn/str "{{:en}}"]
  :other-language "På norsk"
  :number-of-foods (list "Number of food items: " [:fn/get :count])
  :number [:fn/num [:fn/get :n] [:fn/param]]
  :search-button "Search"}

 #:mmm.components.footer
 {:footer-title "Footer"
  :about-site "About the site"
  :about-text (list "Matvaretabellen is a service from Mattilsynet. For more services, see " [:a {:href "https://mattilsynet.no"} "mattilsynet.no"])
  :newsletter "Newsletter"
  :privacy-and-cookies "Privacy Policy and Cookies"
  :accessibility-statement "Accessibility Statement (uustatus.no)"
  :open-data "Open Data (API)"
  :about-mattilsynet "About Mattilsynet"
  :about-us "About Us"
  :job-openings "Job Openings"
  :contact-us "Contact Us"
  :call-us "Call us on +47&nbsp;22&nbsp;40&nbsp;00&nbsp;00"
  :report-to-us "Report to Us"}

 #:matvaretabellen.components.comparison
 {:compare-foods "Compare foods"
  :compare-now "Compare now"
  :stage-for-comparison "Add for comparison"}

 #:matvaretabellen.crumbs
 {:all-food-groups "Food Groups"
  :all-nutrients "Nutrients"
  :home "Home"
  :search-label "Search in Matvaretabellen"}

 #:matvaretabellen.diff
 {:similar "similar"
  :slight "slightly different"
  :moderate "different"
  :significant "significantly different"
  :dramatic "highly varying"}

 #:matvaretabellen.pages.comparison-page
 {:and "and"
  :compare-foods "Compare foods"
  :composition "Composition"
  :diff-intro "You can compare the foods nutrient by nutrient below. The most marked differences are highlighted with a blue background."
  :edible-part "Edible part"
  :energy-summary "These foods have ${rating} energy content. There is as much energy in ${reference} as in ${comparisons}."}

 #:matvaretabellen.pages.food-page
 {:adi-title "Recommended Daily Intake (ADI)"
  :amount "Quantity"
  :carbohydrates-title "Carbohydrates"
  :category [:fn/str "Category: {{:category}}"]
  :classification-title "Classification"
  :classification-intro
  (list "The foods in Matvaretabellen are described using a classification
  system called " [:a {:href [:fn/get :langual-url]} "LanguaL"]
        ". LanguaL stands for \"" [:strong "Langua aL"] "imentaria\" or \"language of
   food\". This language enables standardized descriptions of foods.")
  :compare-food "Compare"
  :composition "Composition"
  :edible-part [:fn/str "Edible part: {{:pct}} %"]
  :energy-content "Energy content"
  :energy-content-title-mobile (list "Per " [:fn/get :portion])
  :energy-content-title (list "Energy in " [:fn/get :portion])
  :energy [:fn/str "Caloric content: {{:kilo-joules}} ({{:calories}} kcal)"]
  :energy-highlight-title [:fn/str "Energy →"]
  :energy-title "Composition and energy"
  :composition-title [:fn/str "{{:title}} composition"]
  :fat-title "Fatty acids"
  :food-id (list [:strong "Food ID:"] " " [:fn/get :id])
  :grams [:fn/str "{{:value}} grams"]
  :kcal-content-title (list "Calories in " [:fn/get :portion])
  :langual-code-label "LanguaL"
  :langual-description-label "Classification"
  :latin-name [:fn/str "Latin: {{:food/latin-name}}"]
  :highlight-title [:fn/str "{{:en}} →"]
  :minerals-title "Minerals"
  :minerals-trace-elements-title "Minerals and trace elements"
  :nutrients "Nutrients"
  :nutrition-heading "Macro nutrients"
  :nutrition-title "Nutritional Information"
  :open-graph-description [:fn/str "{{:food-name}} has {{:energy}} and contains " [:fn/enumerate [:fn/get :macros]] " per 100g. Read more and compare with other foods on matvaretabellen.no"]
  :portion-size "Portion Size:"
  :portion-with-grams [:fn/str "{{:portion}} ({{:grams}} grams)"]
  :rda-explanation "Recommended Daily Allowance"
  :rda-pct "% of RDA"
  :rda-select-label "Recommended Daily Allowance (RDA)"
  :source "Source"
  :sources "Sources"
  :scientific-name (list [:strong "Scientific name:"] " " [:fn/get :name])
  :show-all-sources "Show sources in all tables"
  :show-sources "Show sources"
  :total [:fn/str "{{:en}}, total"]
  :toc-title "Contents"
  :trace-elements-title "Trace elements"
  :vitamins-title "Vitamins"
  }

 #:matvaretabellen.pages.food-groups-page
 {:all-food-groups "Food Groups"
  :prose (list "The foods in the Food Composition Table are divided into " [:fn/get :count] " main groups based on origin and use. Under these groups, there are also specific categories.")
  :download-everything "Download the entire table"
  :download-url "/all-foods.xlsx"}

 #:matvaretabellen.pages.food-group-page
 {:download-these "Download the table"}

 #:matvaretabellen.pages.frontpage
 {:all-food-groups "Food Groups →"
  :all-nutrients "Nutrients →"
  :banana-nutrition-facts "Bananas have the highest carbohydrate content among the fruits in the Food Table. They also have high magnesium content."
  :common-food-searches "Common Searches"
  :did-you-know "Did you know..."
  :new-in-food-table "New in Matvaretabellen"
  :open-graph-description "Matvaretabellen provides in-depth information on the energy and nutritional content of thousands of foods. You can search for specific foods, compare them, and learn about which foods offer high or low levels of various nutrients."
  :open-graph-title "Matvaretabellen.no - a service from Mattilsynet"
  :read-more-about-banana "Read more about the banana here."
  :search-button "Search"
  :search-label "Search in Matvaretabellen"
  :seasonal-goods "Seasonal Goods"
  :see-all-food-groups-overview "See an overview of all food groups."
  :see-all-nutrients-overview "See an overview of all nutrients."}

 #:matvaretabellen.pages.nutrients-page
 {:all-nutrients "Nutrients"
  :prose "In the Norwegian Food Composition Table, there are nine different categories of nutrients. Nutrients are chemical compounds that serve as the building blocks in foods, providing energy and/or nourishment."}

 #:matvaretabellen.pages.nutrient-page
 {:download-these "Download the table"
  :food "Food"
  :nutrient-header [:fn/str "{{:en}} per 100 g"]}]
