[#:i18n
 {:lookup [:fn/str "{{:en}}"]
  :other-language "På norsk"
  :number-of-foods (list [:fn/get :count] " food items.")
  :number [:fn/num [:fn/get :n] [:fn/param]]
  :search-button "Search"
  :search-label "Search in Matvaretabellen"}

 #:mmm.components.footer
 {:footer-title "Footer"
  :about-site "About the site"
  :about-text (list "Matvaretabellen is a service from Mattilsynet. "
                    [:a {:href "/about-us/"} "Read more about it here."]
                    " For more services, see " [:a {:href "https://mattilsynet.no"} "mattilsynet.no"])
  :newsletter "Newsletter"
  :privacy-and-cookies "Privacy Policy and Cookies"
  :accessibility-statement "Accessibility Statement (uustatus.no)"
  :open-data "Open Data (API)"
  :about-mattilsynet "About Mattilsynet"
  :about-us "About Us"
  :job-openings "Job Openings"
  :contact-us "Contact Us"
  :call-us "Call us on +47&nbsp;22&nbsp;40&nbsp;00&nbsp;00"
  :report-to-us "Report to Us"}

 #:matvaretabellen.components.comparison
 {:compare-foods "Compare foods"
  :compare-now "Compare now"
  :stage-for-comparison "Add for comparison"}

 #:matvaretabellen.crumbs
 {:all-food-groups "Food Groups"
  :all-nutrients "Nutrients"
  :home "Home"}

 #:matvaretabellen.diff
 {:similar "similar"
  :slight "slightly different"
  :moderate "different"
  :significant "significantly different"
  :dramatic "highly varying"}

 #:matvaretabellen.food
 {:food-group [:fn/str "{{:food-group}} ({{:n}})"]}

 #:matvaretabellen.layout
 {:close-sidebar "Close"
  :filter "Filter"
  :food-groups "Food groups"
  :nutrients "Nutrients"}

 #:matvaretabellen.pages.comparison-page
 {:and "and"
  :compare-foods "Compare foods"
  :composition "Composition"
  :diff-intro "You can compare the foods nutrient by nutrient below. The most marked differences are highlighted with a blue background."
  :edible-part "Edible part"
  :energy-summary "These foods have ${rating} energy content. There is as much energy in ${reference} as in ${comparisons}."
  :share-comparison "Share comparison"
  :url-copied "We have copied a link to this page, paste it wherever you want to share it."}

 #:matvaretabellen.pages.food-page
 {:adi-title "Recommended Daily Intake (ADI)"
  :amount "Quantity"
  :carbohydrates-title "Carbohydrates"
  :category [:fn/str "Category: {{:category}}"]
  :classification-title "Classification"
  :classification-intro
  (list "The foods in Matvaretabellen are described using a classification
  system called " [:a {:href [:fn/get :langual-url]} "LanguaL"]
        ". LanguaL stands for \"" [:strong "Langua aL"] "imentaria\" or \"language of
   food\". This language enables standardized descriptions of foods.")
  :compare-food "Compare"
  :composition "Composition"
  :edible-part [:fn/str "Edible part: {{:pct}} %"]
  :energy-content "Energy content"
  :energy-content-title-mobile (list "Per " [:fn/get :portion])
  :energy-content-title (list "Energy (kJ) in " [:fn/get :portion])
  :energy [:fn/str "Caloric content: {{:kilo-joules}} ({{:calories}} kcal)"]
  :energy-highlight-title [:fn/str "Energy →"]
  :energy-title "Composition and energy"
  :composition-title [:fn/str "{{:title}} composition"]
  :fat-title "Fatty acids"
  :food-id (list [:strong "Food ID:"] " " [:fn/get :id])
  :kcal-content-title (list "Energy (kcal) in " [:fn/get :portion])
  :langual-code-label "LanguaL"
  :langual-description-label "Classification"
  :latin-name [:fn/str "Latin: {{:food/latin-name}}"]
  :highlight-title [:fn/str "{{:en}} →"]
  :minerals-title "Minerals"
  :minerals-trace-elements-title "Minerals and trace elements"
  :nutrients "Nutrient"
  :nutrition-heading "Macro nutrients"
  :nutrition-title "Nutritional Information"
  :open-graph-description [:fn/str "{{:food-name}} has {{:energy}} and contains " [:fn/enumerate [:fn/get :macros]] " per 100g. Read more and compare with other foods on matvaretabellen.no"]
  :portion-size "Portion Size:"
  :rda-explanation "Recommended Daily Allowance"
  :rda-pct "% of RDA"
  :rda-select-label "Recommended Daily Allowance (RDA)"
  :select-grams [:fn/str "{{:value}} grams    "]
  :select-portion-with-grams [:fn/str "{{:portion}} ({{:grams}} grams)    "]
  :source "Source"
  :sources "Sources"
  :scientific-name (list [:strong "Scientific name:"] " " [:fn/get :name])
  :show-all-sources "Show sources in all tables"
  :show-sources "Show sources"
  :total [:fn/str "{{:en}}, total"]
  :toc-title "Contents"
  :trace-elements-title "Trace elements"
  :vitamins-title "Vitamins"
  }

 #:matvaretabellen.pages.food-groups-page
 {:all-food-groups "Food Groups"
  :prose (list "In the Norwegian Food Composition Table there are " [:fn/get :food-count] " foods divided into " [:fn/get :group-count] " main groups based on origin and use. Under these groups, there are also specific categories.")
  :download-everything "Download the entire table"
  :download-url "/all-foods.xlsx"}

 #:matvaretabellen.pages.food-group-page
 {:download-these "Download the table"
  :compare "Compare"
  :food "Food"
  :food-groups "Food groups"}

 #:matvaretabellen.pages.frontpage
 {:all-food-groups "Food Groups →"
  :all-nutrients "Nutrients →"
  :common-food-searches "Common Searches"
  :did-you-know "Did you know ..."
  :new-in-food-table "New in Matvaretabellen"
  :open-graph-description "Information about the energy and nutritional content of thousands of foods. Search for foods, compare, and learn about nutrients."
  :open-graph-title "Matvaretabellen.no - a service from Mattilsynet"
  :read-more-about [:fn/str "Read more about {{:definite}} here."]
  :seasonal-goods "Seasonal Goods"
  :see-all-food-groups-overview "Overview of all food groups."
  :see-all-nutrients-overview "Overview of all nutrients."}

 #:matvaretabellen.pages.nutrients-page
 {:all-nutrients "Nutrients"
  :prose "In the Norwegian Food Composition Table, there are nine different categories of nutrients. Nutrients are chemical compounds that serve as the building blocks in foods, providing energy and/or nourishment."}

 #:matvaretabellen.pages.nutrient-page
 {:compare "Compare"
  :download-these "Download the table"
  :food "Food"
  :food-group [:fn/str "{{:food-group}} ({{:n}})"]
  :food-groups "Food groups"
  :nutrients "Nutrients"
  :per-100g [:fn/str "{{:nutrient}} per 100 grams of food"]}]
