[#:mmm.components.footer
 {:footer-title "Footer"
  :about-site "About the site"
  :newsletter "Newsletter"
  :privacy-and-cookies "Privacy Policy and Cookies"
  :accessibility-statement "Accessibility Statement (uustatus.no)"
  :open-data "Open Data (API)"
  :about-mattilsynet "About Mattilsynet"
  :about-us "About Us"
  :job-openings "Job Openings"
  :contact-us "Contact Us"
  :report-to-us "Report to Us"}

 #:matvaretabellen.crumbs
 {:all-food-groups "All Food Groups"
  :food-groups-url "/food-groups/"
  :home "Home"
  :search-label "Search in Matvaretabellen"
  }

 #:matvaretabellen.pages.food-page
 {:adi-title "Recommended Daily Intake (ADI)"
  :amount-grams "Quantity (g)"
  :carbohydrates-title "Carbohydrates"
  :category [:fn/str "Category: {{:category}}"]
  :classification-title "Classification"
  :edible-part [:fn/str "Edible part: {{:pct}} %"]
  :energy-content-title "Energy content"
  :energy-content [:fn/str "{{:kilo-joules}} ({{:calories}} kcal)"]
  :energy [:fn/str "Caloric content: {{:kilo-joules}} ({{:calories}} kcal)"]
  :energy-title "Composition and Energy"
  :composition-title [:fn/str "{{:title}} composition"]
  :fat-title "Fatty Acids"
  :food-id [:fn/str "Food ID: {{:id}}"]
  :latin-name [:fn/str "Latin: {{:food/latin-name}}"]
  :lookup [:fn/str "{{:en}}"]
  :highlight-title [:fn/str "{{:en}} →"]
  :minerals-title "Minerals"
  :nutrients "Nutrients"
  :nutrition-heading "Main Components and Energy Content"
  :nutrition-title "Nutritional Information"
  :portion-size "Portion Size:"
  :total [:fn/str "{{:en}}, total"]
  :toc-title "Contents"
  :total-alcohol "Alcohol"
  :total-carbs "Total Carbohydrates"
  :total-fat "Total Fats"
  :total-fiber "Dietary Fiber"
  :total-protein "Proteins"
  :total-water "Water"
  :vitamins-title "Vitamins"
  }

 #:matvaretabellen.pages.food-groups-page
 {:all-food-groups "All Food Groups"}

 #:matvaretabellen.pages.frontpage
 {:search-button "Search"
  :search-label "Search in Matvaretabellen"
  :did-you-know "Did you know..."
  :banana-nutrition-facts "Bananas have the highest carbohydrate content among the fruits in the Food Table. They also have high magnesium content."
  :read-more-about-banana "Read more about the banana here."
  :all-food-groups "All Food Groups →"
  :see-all-food-groups-overview "See an overview of all food groups."
  :all-nutrients "All Nutrients →"
  :see-all-nutrients-overview "See an overview of all nutrients."
  :common-food-searches "Common Searches"
  :new-in-food-table "New in Matvaretabellen"
  :seasonal-goods "Seasonal Goods"}]
