[#:i18n
 {:lookup [:fn/str "{{:nb}}"]
  :other-language "In English"
  :number-of-foods (list "Antall matvarer: " [:fn/get :count] " stk")}

 #:mmm.components.footer
 {:footer-title "Footer"
  :about-site "Om nettstedet"
  :about-text (list "Matvaretabellen er en tjeneste fra Mattilsynet. For øvrige tjenester, se " [:a {:href "https://mattilsynet.no"} "mattilsynet.no"])
  :newsletter "Nyhetsbrev"
  :privacy-and-cookies "Personvernerklæring og informasjonskapsler"
  :accessibility-statement "Tilgjengelegheitserklæring (uustatus.no)"
  :open-data "Åpne data (API)"
  :about-mattilsynet "Om Mattilsynet"
  :about-us "Om oss"
  :job-openings "Ledige stillinger"
  :call-us "Ring oss på 22&nbsp;40&nbsp;00&nbsp;00"
  :contact-us "Kontakt oss"
  :report-to-us "Varsle oss"}

 #:matvaretabellen.components.comparison
 {:compare-foods "Sammenlign matvarer"
  :compare-now "Sammenlign nå"}

 #:matvaretabellen.crumbs
 {:all-food-groups "Alle matvaregrupper"
  :all-nutrients "Alle næringsstoffer"
  :home "Hjem"
  :search-label "Søk i Matvaretabellen"}

 #:matvaretabellen.diff
 {:similar "tilsvarende"
  :slight "nokså likt"
  :moderate "forskjellig"
  :significant "nokså forskjellig"
  :dramatic "svært forskjellig"}

 #:matvaretabellen.pages.comparison-page
 {:and "og"
  :compare-foods "Sammenlign matvarer"
  :composition "Sammensetning"
  :diff-intro "Nedenfor kan du sammenligne matvarene næringsstoff for næringsstoff. De største forskjellene er uthevet med blå bakgrunn."
  :edible-part "Spiselig del"
  :energy-summary "Disse matvarene har ${rating} energiinnhold. Det er like mye energi i ${reference} som i ${comparisons}."}

 #:matvaretabellen.pages.food-page
 {:adi-title "Anbefalt dagsinntak (AI)"
  :amount "Mengde"
  :carbohydrates-title "Karbohydrater"
  :category [:fn/str "Kategori: {{:category}}"]
  :classification-title "Klassifisering"
  :classification-intro
  (list "Matvarene i Matvaretabellen beskrives ved hjelp
  av et klassifiseringssystem som heter " [:a {:href [:fn/get :langual-url]} "LanguaL"]
        ". LanguaL står for “" [:strong "Langua aL"] "imentaria” eller “language of
  food”. Språket gjør det mulig å gi standardiserte beskrivelser av matvarene.")
  :compare-food "Sammenlign"
  :composition "Sammensetning"
  :edible-part [:fn/str "Spiselig del: {{:pct}}&nbsp;%"]
  :energy-content "Energiinnhold"
  :energy-content-title-mobile (list "Per " [:fn/get :portion])
  :energy-content-title (list "Energi i " [:fn/get :portion])
  :energy [:fn/str "Kaloriinnhold: {{:kilo-joules}} ({{:calories}} kcal)"]
  :energy-highlight-title [:fn/str "Energi →"]
  :energy-title "Sammensetning og energi"
  :composition-title [:fn/str "{{:title}}, sammensetning"]
  :fat-title "Fettsyrer"
  :food-id (list [:strong "Matvare-ID:"] " " [:fn/get :id])
  :grams [:fn/str "{{:value}} gram"]
  :langual-code-label "LanguaL"
  :langual-description-label "Klassifisering"
  :latin-name [:fn/str "Latin: {{:food/latin-name}}"]
  :highlight-title [:fn/str "{{:nb}} →"]
  :kcal-content-title (list "Kalorier i " [:fn/get :portion])
  :minerals-title "Mineraler"
  :nutrients "Næringsstoffer"
  :nutrition-heading "Energigivende næringsstoffer"
  :nutrition-title "Næringsinnhold"
  :portion-size "Porsjonsstørrelse:"
  :portion-with-grams [:fn/str "{{:portion}} ({{:grams}} gram)"]
  :rda-explanation "Anbefalt Dagdinntak"
  :rda-pct "% av AI"
  :rda-select-label "Anbefalt Dagsinntak (AI)"
  :scientific-name (list [:strong "Vitenskapelig navn:"] " " [:fn/get :name])
  :source "Kilde"
  :sources "Kilder"
  :show-all-sources "Vis kilder i alle tabeller"
  :show-sources "Vis kilder"
  :toc-title "Innhold"
  :total [:fn/str "{{:nb}}, total"]
  :trace-elements-title "Sporstoffer"
  :vitamins-title "Vitaminer"
  }

 #:matvaretabellen.pages.food-groups-page
 {:all-food-groups "Alle matvaregrupper"
  :prose (list "Matvarene i Matvaretabellen er fordelt på " [:fn/get :count] " hovedgrupper etter opprinnelse og bruk. Under disse gruppene finnes det også egne kategorier.")
  :download-everything "Last ned hele tabellen"
  :download-url "/alle-matvarer.xlsx"}

 #:matvaretabellen.pages.food-group-page
 {:download-these "Last ned tabellen"}

 #:matvaretabellen.pages.frontpage
 {:search-label "Søk i Matvaretabellen"
  :search-button "Søk"
  :did-you-know "Visste du at..."
  :banana-nutrition-facts "Banan er den frukten med høyest innhold av karbohydrater blant fruktene i Matvaretabellen. Den har også et høyt innhold av magnesium."
  :read-more-about-banana "Les mer om bananen her."
  :all-food-groups "Alle matvaregrupper →"
  :see-all-food-groups-overview "Se oversikt over alle matvaregrupper."
  :all-nutrients "Alle næringsstoffer →"
  :see-all-nutrients-overview "Se oversikt over alle næringsstoffer."
  :common-food-searches "Vanlige matvaresøk"
  :new-in-food-table "Nytt i Matvaretabellen"
  :seasonal-goods "Sesongvarer"}

 #:matvaretabellen.pages.nutrients-page
 {:all-nutrients "Alle næringsstoffer"
  :prose "I Matvaretabellen finnes det 9 ulike kategorier av næringsstoffer. Næringsstoffer er kjemiske forbindelser og byggeklossene i matvarene som tilfører energi og/eller næring."}

 #:matvaretabellen.pages.nutrient-page
 {:download-these "Last ned tabellen"
  :food "Matvare"
  :nutrient-header [:fn/str "{{:nb}} per 100 g"]}]
