[#:i18n
 {:lookup [:fn/str "{{:nb}}"]
  :other-language "In English"
  :number-of-foods (list [:fn/get :count] " matvarer.")
  :number [:fn/num [:fn/get :n] [:fn/param]]
  :search-button "Søk"
  :search-label "Søk i Matvaretabellen"}

 #:mmm.components.footer
 {:footer-title "Footer"
  :about-site "Om nettstedet"
  :about-text (list "Matvaretabellen er en tjeneste fra Mattilsynet. "
                    [:a {:href "/om-oss/"} "Les mer om den her."]
                    " For øvrige tjenester, se " [:a {:href "https://mattilsynet.no"} "mattilsynet.no"])
  :newsletter "Nyhetsbrev"
  :privacy-and-cookies "Personvernerklæring og informasjonskapsler"
  :accessibility-statement "Tilgjengelegheitserklæring (uustatus.no)"
  :open-data "Åpne data (API)"
  :about-mattilsynet "Om Mattilsynet"
  :about-us "Om oss"
  :job-openings "Ledige stillinger"
  :call-us "Ring oss på 22&nbsp;40&nbsp;00&nbsp;00"
  :contact-us "Kontakt oss"
  :report-to-us "Varsle oss"}

 #:matvaretabellen.components.comparison
 {:compare-foods "Sammenlign matvarer"
  :compare-now "Sammenlign nå"
  :stage-for-comparison "Legg til for sammenligning"}

 #:matvaretabellen.crumbs
 {:all-food-groups "Matvaregrupper"
  :all-nutrients "Næringsstoffer"
  :home "Hjem"}

 #:matvaretabellen.diff
 {:similar "tilsvarende"
  :slight "nokså likt"
  :moderate "forskjellig"
  :significant "nokså forskjellig"
  :dramatic "svært forskjellig"}

 #:matvaretabellen.food
 {:food-group [:fn/str "{{:food-group}} ({{:n}})"]}

 #:matvaretabellen.layout
 {:close-sidebar "Lukk"
  :filter "Filter"
  :food-groups "Matvaregrupper"
  :nutrients "Næringsstoffer"}

 #:matvaretabellen.pages.comparison-page
 {:and "og"
  :compare-foods "Sammenlign matvarer"
  :composition "Sammensetning"
  :diff-intro "Nedenfor kan du sammenligne matvarene næringsstoff for næringsstoff. De største forskjellene er uthevet med blå bakgrunn."
  :edible-part "Spiselig del"
  :energy-summary "Disse matvarene har ${rating} energiinnhold. Det er like mye energi i ${reference} som i ${comparisons}."
  :share-comparison "Del sammenligning"
  :url-copied "Vi har kopiert en lenke til denne siden, lim den inn der du vil dele den."}

 #:matvaretabellen.pages.food-page
 {:adi-title "Anbefalt dagsinntak (AI)"
  :amount "Mengde"
  :carbohydrates-title "Karbohydrater"
  :category [:fn/str "Kategori: {{:category}}"]
  :classification-title "Klassifisering"
  :classification-intro
  (list "Matvarene i Matvaretabellen beskrives ved hjelp
  av et klassifiseringssystem som heter " [:a {:href [:fn/get :langual-url]} "LanguaL"]
        ". LanguaL står for “" [:strong "Langua aL"] "imentaria” eller “language of
  food”. Språket gjør det mulig å gi standardiserte beskrivelser av matvarene.")
  :compare-food "Sammenlign"
  :composition "Sammensetning"
  :edible-part [:fn/str "Spiselig del: {{:pct}}&nbsp;%"]
  :energy-content "Energiinnhold"
  :energy-content-title-mobile (list "Per " [:fn/get :portion])
  :energy-content-title (list "Energi (kJ) i " [:fn/get :portion])
  :energy [:fn/str "Kaloriinnhold: {{:kilo-joules}} ({{:calories}} kcal)"]
  :energy-highlight-title [:fn/str "Energi →"]
  :energy-title "Energigivende næringsstoffer"
  :composition-title [:fn/str "{{:title}}, sammensetning"]
  :fat-title "Fettsyrer"
  :food-id (list [:strong "Matvare-ID:"] " " [:fn/get :id])
  :langual-code-label "LanguaL"
  :langual-description-label "Klassifisering"
  :latin-name [:fn/str "Latin: {{:food/latin-name}}"]
  :highlight-title [:fn/str "{{:nb}} →"]
  :kcal-content-title (list "Energi (kcal) i " [:fn/get :portion])
  :minerals-title "Mineraler"
  :minerals-trace-elements-title "Mineraler og sporstoffer"
  :nutrients "Næringsstoff"
  :nutrition-heading "Energigivende næringsstoffer"
  :nutrition-title "Næringsinnhold"
  :open-graph-description [:fn/str "{{:food-name}} har {{:energy}} og inneholder " [:fn/enumerate [:fn/get :macros]] " per 100g. Les mer og sammenlign med andre matvarer på matvaretabellen.no"]
  :portion-size "Porsjonsstørrelse:"
  :rda-explanation "Anbefalt Dagdinntak"
  :rda-pct "% av AI"
  :rda-select-label "Anbefalt dagsinntak (AI)"
  :scientific-name (list [:strong "Vitenskapelig navn:"] " " [:fn/get :name])
  :select-grams [:fn/str "{{:value}} gram    "]
  :select-portion-with-grams [:fn/str "{{:portion}} ({{:grams}} gram)    "]
  :source "Kilde"
  :sources "Kilder"
  :show-all-sources "Vis kilder i alle tabeller"
  :show-sources "Vis kilder"
  :toc-title "Innhold"
  :total [:fn/str "{{:nb}}, total"]
  :trace-elements-title "Sporstoffer"
  :vitamins-title "Vitaminer"
  }

 #:matvaretabellen.pages.food-groups-page
 {:all-food-groups "Matvaregrupper"
  :prose (list "I Matvaretabellen finnes det " [:fn/get :food-count] " matvarer fordelt på " [:fn/get :group-count] " hovedgrupper etter opprinnelse og bruk. Under disse gruppene finnes det også egne kategorier.")
  :download-everything "Last ned hele tabellen"}

 #:matvaretabellen.pages.food-group-page
 {:download-these "Last ned tabellen"
  :compare "Sammenlign"
  :food "Matvare"
  :food-groups "Matvaregrupper"}

 #:matvaretabellen.pages.frontpage
 {:all-food-groups "Matvaregrupper →"
  :all-nutrients "Næringsstoffer →"
  :common-food-searches "Vanlige matvaresøk"
  :did-you-know "Visste du ..."
  :new-in-food-table "Nytt i Matvaretabellen"
  :open-graph-description "Informasjon om energi- og næringsinnholdet i tusenvis av matvarer. Søk opp spesifikke matvarer, sammenligne, og lære mer de forskjellige næringsstoffene."
  :open-graph-title "Matvaretabellen.no - en tjeneste fra Mattilsynet"
  :read-more-about [:fn/str "Les mer om {{:definite}} her."]
  :seasonal-goods "Sesongvarer"
  :see-all-food-groups-overview "Oversikt over alle matvaregrupper."
  :see-all-nutrients-overview "Oversikt over alle næringsstoffer."}

 #:matvaretabellen.pages.nutrients-page
 {:all-nutrients "Næringsstoffer"
  :prose "I Matvaretabellen finnes det 9 ulike kategorier av næringsstoffer. Næringsstoffer er kjemiske forbindelser og byggeklossene i matvarene som tilfører energi og/eller næring."}

 #:matvaretabellen.pages.nutrient-page
 {:compare "Sammenlign"
  :download-these "Last ned tabellen"
  :food "Matvare"
  :food-group [:fn/str "{{:food-group}} ({{:n}})"]
  :food-groups "Matvaregrupper"
  :nutrients "Næringsstoffer"
  :per-100g [:fn/str "{{:nutrient}} per 100 gram matvare"]}

 #:matvaretabellen.pages.table-page
 {:columns "Velg kolonner"
  :download "Last ned hele tabellen"
  :energy-kcal "Energi (kcal)"
  :energy-kj "Energi (kJ)"
  :food "Matvare"
  :open-graph-description "Alle matvarene i matvaretabellen i en eneste stor tabell"
  :page-title "Tabellvisning av alle matvarer"}]
