name: Build and publish Matvaretabellen

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - 'adr/**'
      - 'dev/**'
      - 'dev-resources/**'
      - 'org/**'
      - 'tf/**'
  schedule:
    - cron: '0 3 * * *'

permissions:
  id-token: write
  contents: read

concurrency: ci

jobs:
  configure:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.sha.outputs.sha }}
      slack-message: ${{ steps.slack.outputs.message-id }}
    steps:
      - uses: actions/checkout@v3
      - name: Get deployment sha
        id: sha
        run: echo "sha=$(cut -c 1-10 <<< ${{ github.sha }})" >> $GITHUB_OUTPUT
      - name: Notify build start
        id: slack
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          text: ":female-detective: Starter …"

  test:
    runs-on: ubuntu-latest

    needs:
      - configure

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Cache maven build deps
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-clojure-test-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-test
      - name: Cache gitlibs
        uses: actions/cache@v4
        with:
          path: ~/.gitlibs
          key: ${{ runner.os }}-gitlibs-test-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-gitlibs-test
      - name: Notify testing
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":shrug: Kjører tester …"
      - name: Test
        run: make test

  build:
    runs-on: ubuntu-latest

    needs:
      - configure

    steps:
      - name: Notify build
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":male-construction-worker: Bygger docker image …"
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Cache maven build deps
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-clojure-build-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-clojure-build
      - name: Cache gitlibs
        uses: actions/cache@v4
        with:
          path: ~/.gitlibs
          key: ${{ runner.os }}-gitlibs-build-${{ hashFiles('deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-gitlibs-build
      - name: Cache exported files
        uses: actions/cache@v3
        with:
          path: |
            docker/build/**/*
          key: exported-files-${{ github.sha }}
          restore-keys: |
            exported-files-
      - name: Build docker image
        run: make docker
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          create_credentials_file: true
          workload_identity_provider: projects/799884623953/locations/global/workloadIdentityPools/gh-actions/providers/github
          service_account: artifacts-wi-sa-github-actions@artifacts-352708.iam.gserviceaccount.com
      - name: Log in to Google Artifact Registry (GAR)
        uses: docker/login-action@v1
        with:
          registry: europe-north1-docker.pkg.dev/artifacts-352708
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
      - name: Notify publish
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":technologist: Publiserer docker image …"
      - name: Publish docker image
        run: make publish

  deploy:
    runs-on: ubuntu-latest
    needs:
      - configure
      - build

    name: Deployer vha Cloud Run
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          token_format: access_token
          create_credentials_file: true
          workload_identity_provider: projects/85462809558/locations/global/workloadIdentityPools/gh-actions/providers/github
          service_account: cloudrun-wi-sa-github-actions@matvaretabellen-b327.iam.gserviceaccount.com
      - name: Notify publish
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":sailboat: Sjøsetter herligheta …"
      - name: Deploying
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          project_id: matvaretabellen-b327
          region: europe-north1
          service: matvaretabellen
          image: europe-north1-docker.pkg.dev/artifacts-352708/mat/matvaretabellen:${{ needs.configure.outputs.sha }}

  notify-success:
    runs-on: ubuntu-latest

    needs:
      - configure
      - test
      - deploy

    if: success()

    steps:
      - name: Notify build & push success
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":bar_chart: Ferdig og måtelig fornøyd"

  notify-failure:
    runs-on: ubuntu-latest

    needs:
      - configure
      - test
      - deploy

    if: failure()

    steps:
      - name: Notify failure
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATION_TOKEN }}
        uses: Mattilsynet/slacker-action@main
        with:
          channel-id: C06192XRMNW
          message-id: ${{ needs.configure.outputs.slack-message }}
          text: ":man-gesturing-no: Trøbbel i tårnet!"
